.taskCard{
    display: flex;
    margin-top: auto;
    margin: 2.3rem 0 0 0;
    padding: 3.2rem 1rem 1.3rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    align-self: stretch;

    border-radius: 1.2rem;
    background: #E6EBF3;
    position: relative;

    transition: background .5s ease;

    .icon{
        width: 4.2rem;
        height: 4.2rem;
        position: absolute;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        transform: translateY(-50%);
        transition: background .5s ease;

        i{
            font-size: 1.5rem;
            color: #fff;
        }
    }

    .taskTitle{
        text-align: center;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .taskProgress{
        color: #7F8D9B;

        text-align: center;
        font-size: .9rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 1rem;
    }
}