.logo{
    margin-bottom: 2rem;
    margin-top: 2.55rem;
    margin-left: 1.2rem;

    a{
        display: block;
        text-decoration: none;

        &:after{
            content: '.';
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 0;
            color: red;
        }

        img{
            width: auto;
            height: 2rem;
            object-fit: contain;

        }
    }

}