@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;600;700&family=Inter&family=Open+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
html main, body main {
  flex: 1 1 auto;
}

.btn {
  padding: 15px 30px;
  background: transparent;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #FFF;
  transition: 0.5s;
}
.btn:hover {
  background: #FFF;
  color: #0D72B9;
}
@media (max-width: 1100px) {
  .btn {
    padding: 5px 10px;
    font-size: 12px;
  }
}

.btn-blue {
  padding: 11px 36.7969px 12px 37px;
  background-color: #0D72B9;
}
.btn-blue:hover {
  background: #0D72B9;
  color: #FFF;
}

.btn-submit {
  padding: 15px 60px;
  background: #219653;
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: normal;
  color: #FFFFFF;
}
.btn-submit:hover {
  background: #219653;
  color: #FFF;
}
@media (max-width: 768px) {
  .btn-submit {
    font-size: 16px;
    line-height: 27px;
  }
}

a {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #FFFFFF;
}

ul {
  list-style-type: none;
}

.section {
  margin: 0 auto;
  position: relative;
  max-width: 1920px;
  width: 100%;
}
.section .content {
  padding: 60px 90px;
  max-width: 1400px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .section .content {
    padding: 60px 48px;
  }
}
@media (max-width: 426px) {
  .section .content {
    padding: 40px 28px;
  }
}
.section .content h2 {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 58px;
  color: #000000;
}
@media (max-width: 426px) {
  .section .content h2 {
    font-size: 24px;
    line-height: 38px;
  }
}
.section .content h2 span {
  color: #0D72B9;
}
.section .content h3 {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  color: #000000;
}
.section .content p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}
@media (max-width: 426px) {
  .section .content p {
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
  }
}

h1 {
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 67px;
  color: #FFFFFF;
}
h1 span {
  color: #0D72B9;
}

.card-progress {
  -moz-text-align-last: left;
       text-align-last: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 30px 60px 30px 30px;
  box-shadow: 0px 5px 4px 2px rgba(0, 0, 0, 0.3);
  border-radius: 7.21px;
  min-width: 360px;
  background: transparent;
}
@media (max-width: 425px) {
  .card-progress {
    max-width: 360px;
    min-width: auto;
  }
}
.card-progress .card-title {
  font-family: "Hind";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 41px;
  color: #000000;
  text-align: left;
}
.card-progress .card-content {
  font-family: "Hind";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 39px;
  text-align: left;
  color: #3A3A3A;
}
.card-progress .progressbar {
  background-color: #C0E1F4;
  height: 22px;
  width: 100%;
}
.card-progress .progressbar-line {
  height: 100%;
  background-color: #2D9CDB;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  max-width: 230px;
  height: 268px;
  background-color: #F0F9FF;
  box-shadow: 14px 15px 35px rgba(0, 0, 0, 0.33);
  border-radius: 20px;
}
.card .subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.header {
  position: relative;
}
.header-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
}
.header-bg__white {
  height: 100%;
  width: 50%;
  background-color: #FFF;
}
.header-bg__black {
  height: 100%;
  width: 50%;
  background-color: #0D72B9;
}
@media (max-width: 768px) {
  .header-bg__black {
    background-color: #FFF;
  }
}
.header .content {
  padding: 0 10px 0 0;
}
@media (max-width: 768px) {
  .header .content {
    align-items: flex-start;
    background-color: transparent;
    padding: 0;
  }
}
.header .content .navbar {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .header .content .navbar {
    display: block;
  }
}
.header .content .navbar__head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1100px) {
  .header .content .navbar__head {
    padding: 10px;
    max-width: 200px;
  }
}
@media (max-width: 768px) {
  .header .content .navbar__head {
    padding-right: 30px;
    max-width: none;
    justify-content: space-between;
  }
}
.header .content .navbar__head-logo {
  padding: 30px 10px 33px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}
.header .content .navbar__head-logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1100px) {
  .header .content .navbar__head-logo {
    padding: 20px 10px;
  }
}
@media (max-width: 768px) {
  .header .content .navbar__head-logo {
    max-width: 50%;
    padding: 10px;
  }
}
.header .content .navbar__head-btns {
  display: none;
}
@media (max-width: 768px) {
  .header .content .navbar__head-btns {
    display: block;
  }
}
.header .content .navbar__head-btns button {
  display: none;
  border: none;
  background: transparent;
  justify-content: center;
  align-items: center;
}
.header .content .navbar__head-btns .show {
  display: flex;
}
.header .content .navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #0D72B9;
  padding-left: 360px;
}
@media (max-width: 1291px) {
  .header .content .navbar__links {
    padding-left: 220px;
  }
}
@media (max-width: 1150px) {
  .header .content .navbar__links {
    padding-left: 150px;
  }
}
@media (max-width: 955px) {
  .header .content .navbar__links {
    padding-left: 50px;
  }
}
@media (max-width: 768px) {
  .header .content .navbar__links {
    padding-left: 0;
    overflow: hidden;
    flex-direction: column;
    gap: 60px;
  }
}
.header .content .navbar__links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: margin-top 0.5s ease;
}
@media (max-width: 768px) {
  .header .content .navbar__links ul {
    margin-top: -150%;
    flex-direction: column;
    gap: 40px;
  }
}
.header .content .navbar__links ul li {
  transform: translateY(0);
}
.header .content .navbar__links ul li:hover {
  transform: translateY(-2px);
}
@media (max-width: 768px) {
  .header .content .navbar__links ul li a {
    font-size: 27px;
  }
}
@media (max-width: 768px) {
  .header .content .navbar__links ul li {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .header .content .navbar__links ul li .drop-menu {
    position: relative;
    overflow: hidden;
  }
}
.header .content .navbar__links ul li ul {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  background-color: #0D72B9;
  margin-top: 0px;
  padding: 20px 50px 20px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  transition: display 0.5s;
}
.header .content .navbar__links ul li ul:hover {
  display: flex;
}
@media (max-width: 768px) {
  .header .content .navbar__links ul li ul {
    position: inherit;
    align-items: center;
    padding: 20px;
    background-color: #FFF;
    margin-top: -100% !important;
    display: flex;
    transition: margin-top 0.5s;
  }
  .header .content .navbar__links ul li ul li {
    transition: 0.5s;
  }
  .header .content .navbar__links ul li ul li a {
    color: #0D72B9;
  }
}
.header .content .navbar__links ul li ul li {
  text-align: left;
}
.header .content .navbar__links ul li:hover ul {
  display: flex;
}
@media (max-width: 768px) {
  .header .content .navbar__links ul li:hover ul {
    margin-top: 10px !important;
  }
}
.header .content .navbar .open ul {
  margin-top: 80px;
}
.header .content .navbar .open .navbar-btns {
  margin-top: 0px;
  margin-bottom: 80px;
}
.header .content .navbar-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: margin-top 0.5s ease;
}
@media (max-width: 768px) {
  .header .content .navbar-btns {
    margin-top: -150%;
    flex-direction: column;
    gap: 20px;
  }
  .header .content .navbar-btns .btn {
    font-size: 27px;
    padding: 10px 20px;
    line-height: normal;
  }
}

.footer {
  background-color: #0D72B9;
  margin-bottom: 0;
}
.footer .content {
  padding: 90px;
}
@media (max-width: 768px) {
  .footer .content {
    padding: 40px 28px;
  }
}
.footer .content-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1170px) {
  .footer .content-box {
    flex-direction: column;
    gap: 35px;
  }
}
.footer .content-box .footer__logo {
  margin-left: 74px;
  margin-right: 163px;
}
@media (max-width: 1375px) {
  .footer .content-box .footer__logo {
    margin: 0;
  }
}
@media (max-width: 1170px) {
  .footer .content-box .footer__logo {
    order: -1;
  }
}
.footer .content-box .footer__logo img {
  max-width: 100%;
}
.footer .content-box .footer__contacts {
  width: 319px;
}
@media (max-width: 768px) {
  .footer .content-box .footer__contacts {
    max-width: 100%;
  }
}
.footer .content-box .footer__contacts ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer .content-box .footer__contacts ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
@media (max-width: 425px) {
  .footer .content-box .footer__contacts ul li {
    justify-content: space-between;
  }
}
.footer .content-box .footer__contacts ul li a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}
@media (max-width: 425px) {
  .footer .content-box .footer__contacts ul li a {
    text-align: right;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
  }
}
.footer .content-box .footer__info {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  max-width: 100%;
}
@media (max-width: 425px) {
  .footer .content-box .footer__info {
    gap: 10px;
    width: 100%;
  }
}
.footer .content-box .footer__info .btn {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
}
.footer .content-box .footer__info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .content-box .footer__info-section .title {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  color: #FFFFFF;
}
@media (max-width: 425px) {
  .footer .content-box .footer__info-section .title {
    font-size: 19px;
    line-height: 30px;
  }
}
.footer .content-box .footer__info-section .container {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  gap: 39px;
  align-items: center;
}
@media (max-width: 425px) {
  .footer .content-box .footer__info-section .container {
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
  }
}
.footer .content .copyright {
  margin: 0 auto;
  max-width: 316px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 20px;
  text-align: center;
}

.head-section {
  height: 400px;
}
.head-section__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.head-section__bg img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.head-section .content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-section .content h1 {
  text-align: center;
}
@media (max-width: 768px) {
  .head-section .content h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
  }
}

.under-head-section .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1024px) {
  .under-head-section .content {
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) {
  .under-head-section .content__text {
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .under-head-section .content__thumbnail img {
    max-width: 100%;
  }
}

.our-partners-section {
  background-color: #F0F9FF;
}
.our-partners-section .content {
  text-align: center;
}
.our-partners-section .content .partners__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 90px;
}
@media (max-width: 426px) {
  .our-partners-section .content .partners__list {
    gap: 15px;
  }
}
.our-partners-section .content .partners__list li {
  max-width: 100%;
}
.our-partners-section .content .partners__list li img {
  max-width: 100%;
}
@media (max-width: 426px) {
  .our-partners-section .content .partners__list li img {
    max-width: 70%;
  }
}

.services-section .content {
  text-align: center;
}
.services-section .content .services__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}

.why-choose-us-section {
  background-color: #F0F9FF;
}
.why-choose-us-section .content {
  text-align: center;
  position: relative;
  padding-bottom: 91px;
}
.why-choose-us-section .content .btn {
  margin-top: 20px;
}
.why-choose-us-section .content .card-progress {
  position: absolute;
  bottom: -70px;
  right: 70px;
  z-index: 10;
  min-width: 360px;
}
@media (max-width: 1024px) {
  .why-choose-us-section .content .card-progress {
    position: inherit;
    min-width: auto;
    max-width: 360px;
    margin: 0 auto;
    bottom: auto;
    right: auto;
    margin-top: 30px;
  }
}

.colection-rate-section .content {
  padding-bottom: 91px;
}
.colection-rate-section .colection-rate__box {
  display: flex;
  align-items: center;
  gap: 115px;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .colection-rate-section .colection-rate__box {
    justify-content: center;
    text-align: center;
    gap: 30px;
  }
}
.colection-rate-section .colection-rate__box p {
  max-width: 530px;
}
.colection-rate-section .colection-rate__box .card-progress {
  background-color: #F0F9FF;
}
.colection-rate-section .colection-rate__box .card-progress .progressbar {
  background-color: #B4E3CF;
}
.colection-rate-section .colection-rate__box .card-progress .progressbar-line {
  background-color: #27AE60;
}

.form-section {
  background-color: #F0F9FF;
}
.form-section .form {
  position: relative;
}
.form-section .form__inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 18px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.form-section .form__inputs input {
  display: flex;
  align-items: center;
  padding: 17px 20px;
  height: 56px;
  background: #FFFFFF;
  border-radius: 10px;
  width: 580px;
  max-width: 100%;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #767373;
}
@media (max-width: 1370px) {
  .form-section .form__inputs input {
    width: 400px;
  }
}
.form-section .form .btn-submit {
  max-width: 100%;
  width: 350px;
  margin: 0 auto;
  margin-top: 30px;
  display: block;
}

@media (max-width: 1024px) {
  .about-head-section {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.about-head-section .head-section__bg {
  display: none;
}
@media (max-width: 1024px) {
  .about-head-section .head-section__bg {
    display: block;
  }
}
.about-head-section h1 {
  color: #000000;
  text-align: center;
}
@media (max-width: 1024px) {
  .about-head-section h1 {
    color: #FFF;
  }
  .about-head-section h1 span {
    color: #FFF;
  }
}
.about-head-section .content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.med-financical-section .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
}
@media (max-width: 1024px) {
  .med-financical-section .content {
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) {
  .med-financical-section .content__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .med-financical-section .content__text p {
    text-align: center;
  }
}
.med-financical-section .content__text h2 {
  text-align: left;
  margin-bottom: auto;
}
@media (max-width: 1024px) {
  .med-financical-section .content__text h2 {
    text-align: center;
  }
}
.med-financical-section .content__text .btn {
  margin-top: 60px;
}
@media (max-width: 1024px) {
  .med-financical-section .content__thumbnail {
    display: none;
  }
}
.med-financical-section .content__thumbnail img {
  max-width: 50vh;
}

.postscript-section {
  background-color: #F0F9FF;
}
.postscript-section .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .postscript-section .content {
    gap: 30px;
  }
}
.postscript-section .content__text {
  max-width: 482px;
}
@media (max-width: 1024px) {
  .postscript-section .content__text {
    text-align: center;
  }
}
.postscript-section .content__thumbnail img {
  max-width: 100%;
}

.why-med-financical-section {
  background-color: #0D72B9;
}
.why-med-financical-section__bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.why-med-financical-section__bg img {
  min-width: 100%;
  min-height: 100%;
}
.why-med-financical-section .content {
  position: relative;
  z-index: 2;
}
.why-med-financical-section .content h2 {
  color: #FFFFFF;
}
.why-med-financical-section .content p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.cards-section .content .cards-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 70px;
}
.cards-section .content .cards-list .card {
  max-width: 578px;
  min-height: 480px;
  height: auto;
  width: auto;
  padding: 30px 24px;
}
.cards-section .content .cards-list .card .icon {
  margin-bottom: 20px;
}
.cards-section .content .cards-list .card .title h3 {
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  color: #0D72B9;
}
@media (max-width: 426px) {
  .cards-section .content .cards-list .card .title h3 {
    font-size: 19px;
  }
}
.cards-section .content .cards-list .card .subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
@media (max-width: 426px) {
  .cards-section .content .cards-list .card .subtitle {
    font-size: 13px;
  }
}

.quality-section {
  background-color: #F0F9FF;
}
.quality-section .content {
  text-align: center;
}
.quality-section .content .btn {
  margin-top: 30px;
}/*# sourceMappingURL=style.css.map */