@import url(fonts.css);
@media (min-width: 1400px){
    .container{
        max-width: 1170px;
    }
}

*{
    font-family: 'SF Pro Display';
    font-style: normal;
}

body{
    // position: relative;
    max-width: 1920px;
    margin: 0 auto;
}


.btn-link{
    text-decoration: none;
    display: inline-block;
    width: auto;
    height: auto;
}

.btn-white-link,.btn-aBitBlue-link,.btn-join-link{
    border-radius: 50%;
}

.btn-white{
    background: #FFFFFF;
    border-radius: 24px;
    border: none;
    padding: 14px 28px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.015em;
    color: #257CFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.btn-blue{
    background: #257CFF;
    border-radius: 13px;
    border: none;
    padding: 13px;
    width: 338px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 16px;
    max-width: 100% ;
    @media (max-width: 1200px) {
        width: 260px;

    }
}

.btn-aBitBlue{
    border: none;
    padding: 14px 28px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.015em;
    color: #257CFF;
    display: flex;
    align-items: center;
    gap: 8px;

    background: #EEF5FF;
    border-radius: 28px;
    width: 270px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 18px;
}


.section{
    position: relative;
    padding: 80px 0 65px 0;
    background: transparent;

    p{
        padding: 0;
        margin: 0;
    }
    
    .title-h2{
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.015em;
        color: #000000;
        margin: 0 auto;
        padding: 0;
    }

    .subtitle-h2{
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.015em;
        color: #858F9F;
        margin: 0 auto;
        margin-top: 8px;
        padding: 0;
    }
}


//header

.header{
    background: transparent;
    width: 100%;
    max-width: 1920px;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

    @media (max-width: 992px) {
        top: 0;
        position: relative;
    }


    .btn-white{
        @media (max-width: 992px) {
            margin: 0 auto;
        }
    }

    .navbar-toggler{
        border: none;
        background: #ffffff7c;
    }

    .navbar{
        max-width: 1170px;
        margin: 0 auto;

        @media (max-width: 992px) {
            background: #257cff;
            
        }
    }

    .navbar-collapse{

        @media (max-width: 992px) {
            text-align: center;
            
        }

        .btn-white-link{
            @media (max-width: 992px) {
                margin: 0 auto;
                margin-top: 40px;
                margin-bottom: 40px;
            }
        }
        
        .navbar-nav{
            margin: 0 auto;
            gap: 24px;
            @media (max-width: 992px) {
                padding: 20px;
                margin-top: 30px;
            }
            .nav-item{
                display: flex;
                justify-content: center;
                align-items: center;
    
                .nav-link{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.015em;
                    color: #FFFFFF;
                    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.56);

                    @media (max-width: 992px) {
                        font-size: 36px;
                        line-height: 36px;
                    }
                }
            }
        }
    }
}


//theFastestWay

.theFastestWay{
    position: relative;
    padding: 229px 0 312px 0;
    margin: 0 auto;
    max-width: 1920px;
    background-image: url("../img/compresed/main.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 768px) {
        padding: 140px 0 190px 0;
    }

    @media (min-width: 1441px) {
        padding: 229px 0 30% 0;
    }
    
    .title-h1, .subtitle-h1{
        z-index: 2;
        margin: 0 auto;
        text-align: center;

        
    }

    .title-h1{
        font-weight: 600;
        font-size: 48px;
        line-height: 57px;
        text-align: center;
        letter-spacing: 0.015em;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.48);

        @media (max-width: 768px) {
            font-size: 36px;
            line-height: 40px;
        }
    }

    .subtitle-h1{
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.015em;
        color: #FFFFFF;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.56);
        margin-top: 13px;

        @media (max-width: 768px) {
            font-size: 16px;
            line-height: 25px;
        }
    }

}


//uneilingANewDimension

.uneilingANewDimension{


    .list{
        margin: 0;
        margin-top: 44px;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        @media (max-width: 1200px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        &-item{
            margin: 0;
            position: 0;
            list-style-type: none;
            width: 270px;
            height: 202px;
            text-align: center;
            background: linear-gradient(180deg, rgba(241, 242, 246, 0) 0%, #F1F2F6 100%);
            border-radius: 24px;
            padding: 32px 24px 26px 24px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 16px;

            &-title{
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
                text-align: center;
                letter-spacing: 0.015em;
                color: #858F9F;
                
            }
        }
    }
}


//theProblem

.theProblem{

    @media (max-width: 992px) {
        padding-top: 35px;
    }
    .row{
        // gap: 160px;
    }
    .row{
        align-items: center;
    }
    .content-img{
        padding-left: 30px;
        
        text-align: center;
        position: relative;

        @media (max-width: 768px) {
            padding-left: calc(var(--bs-gutter-x) * .5);
            margin: 0 auto;
            order: 2;
        }
        img{
            max-width: 100%;
            width: 406px;
            height: auto;
            @media (max-width: 992px) {
                width: 300px;
            }
        }
    }
}

//theSolution

.theSolution{
    padding-top: 0;

    .content-text{
        margin-top: 80px;
        @media (max-width: 992px) {
            margin-top: 0;
        }
    }
    

    .content-img{
        padding-left: 30px;
        text-align: center;
        position: relative;
        img{
            width: 100%;
            height: auto;
            max-width: 100%;
            @media (max-width: 992px) {
                width: 360px;
            }
        }
    }

    
}


//howItWorks

.howItWorks{
    padding: 0;

    @media (max-width: 768px) {
        padding-bottom: 65px;
    }

    .ps-title{
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.015em;
        color: #6B7688;
        margin-top: 20px;
        @media (max-width: 768px) {
            text-align: center;
        }
    }

    .row{
        gap: 8%;
        align-items: center;
    }


    .content-img{
        padding-left: 30px;
        text-align: center;
        position: relative;

        @media (max-width: 768px) {
            order: 2;
        }
        img{
            width: 446px;
            height: auto;
            max-width: 100%;
            @media (max-width: 992px) {
                width: 300px;
            }

            @media (max-width: 768px) {
                width: 360px;
            }
            
        }
    }
}


//theProblem, theSolution, howItWorks

.theProblem,.theSolution,.howItWorks{
    
    .row{
        @media (max-width: 768px) {
            gap: 30px;
            justify-content: center;
        }
    }

    .title-h2,.subtitle-h2{
        text-align: left;
        @media (max-width: 768px) {
            text-align: center;
        }
    }

    .subtitle-h2{
        margin-top: 24px;
    }
}



//decisions

.decisions{
    position: relative;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 110px;
    @media (max-width: 768px) {
        margin-top: 0;
        padding-top: 0;
    }
    .decisions-bg{
        position: absolute;
        width: 1170px;
        max-width: 100%;

        z-index: -1;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}


//real-LifeMeets

.real-LifeMeets{
    position: relative;

    .content-video{
        position: relative;
        text-align: center;
        margin-top: 17px;
        &-item{
            width: 570px;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            border-radius: 24px;
            overflow: hidden;
        }
    }
}


//perfectInvestment

.perfectInvestment{
    

    .content-property{
        padding-top: 48px;
        padding-bottom: 48px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
        

        p{
            padding: 0;
            margin: 0;
        }
        &-item{
            position: relative;
            background: #F1F2F6;
            border-radius: 13px;
            width: 370px;

            @media (max-width: 1200px) {
                width: 300px;
            }

            &-type{
                position: absolute;
                left: 16px;
                top: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 16px;
                background: rgba(255, 255, 255, 0.72);
                backdrop-filter: blur(16px);
                border-radius: 20px;
                width: auto;
                height: 40px;
                gap: 7px;

                &-icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &-title{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.015em;
                    color: #171719;
                }
            }

            &-pict{
                border-radius: 13px;
                overflow: hidden;
                width: 100%;
                object-fit: cover;
                max-height: 186px;
                object-fit: cover;
            }

            &-title{
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.4px;
                color: #17171A;
                margin-top: 16px;
                padding: 0 16px;
                width: 100%;

            }

            &-location{
                display: flex;
                align-items: center;
                gap: 6px;
                margin-top: 12px;
                padding: 0 16px;
            }

            hr{
                margin: 16px 16px 0 16px;
                border-top: 0.5px solid #CBCBCB;
            }

            &-info{

                margin-top: 18px;
                padding: 0 16px;

                &-investment{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &-title{
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 12px;
                        letter-spacing: -0.005em;
                        color: #171719;
                    }

                    &-value{
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 16px;
                        text-align: right;
                        color: #257CFF;
                    }

                    
                }

                &-price, &-mounthlyRent, &-expectedIncome{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 9px 0;

                    &-title{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 12px;
                        letter-spacing: -0.005em;
                        color: #7B7B7B;
                    }

                    &-value{
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 16px;
                        text-align: right;
                        color: #171719;
                    }
                }

                
            }
        }
    }


    

    .in-depthUnderstanding{

        position: relative;
        width: 100%;  
        padding-top: 75px;
        padding-bottom: 40px;
        
        margin-top: 44px;

        @media (max-width: 1200px) {
            padding-bottom: 20px;
        }

        @media (max-width: 992px) {
            background: #257CFF;
            border-radius: 24px;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        &-bg{
            z-index: -1;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            width: 100%;

            @media (max-width: 992px) {
                display: none;
            }

            &-pict{
                width: 1170px;
                max-width: 100%;
            }

        }


        &-content{

            text-align: center;

            &-title{
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                letter-spacing: 0.015em;
                color: #FFFFFF;
            }

            .btn-white-link{
                margin: 0 auto;
                margin-top: 18px;
                .btn-white{
                    background: #FFFFFF ;
                    margin: 0 auto;
                }
            }
            
        }
        

    }
}


//roadmap

.roadmap{
    padding-top: 0;
    padding-bottom: 160px;
    .content-text{
        margin-bottom: 80px;
        @media (max-width: 576px) {
            margin-bottom: 5px;
        }
         
    }
    

    @media (max-width: 1400px) {
        .container{
            max-width: 1170px;
        }
    }

    @media (max-width: 576px) {
        
        .title-h2{
            text-align: left;
            
        }
    }

    &-bg{
        position: relative;
        z-index: -1;
        &-desc{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            @media (max-width: 1200px) {
                display: none;
            }
        }

        &-tablet{
            display: none;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            @media (max-width: 1200px) {
                display: block;
            }
            @media (max-width: 576px) {
                display: none;
            }
        }
        &-mobile{
            display: none;
            position: absolute;
            @media (max-width: 576px) {
                display: block;
            }
        }

        
    }

    &-content{
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        @media (max-width: 1200px) {
            display: block;
            padding-top: 165px;
        }
 

        &-list{
            padding: 0;
            margin: 0;


            &:nth-child(1){
                order: 1;
                margin-left: 150px;
                max-width: 220px;

                @media (max-width: 1200px) {
                    margin: 0 auto;
                    transform: translateX(65%);
                }

                @media (max-width: 576px) {
                    transform: translateX(0);
                    padding-left: 70px;
                    margin-left: 0;
                    max-width: 100%;    
                }
            }

            &:nth-child(2){
                order: 4;
                max-width: 242px;
                margin-left: 355px;
                margin-top: 59px;

                @media (max-width: 1200px) {
                    order: 2;
                    margin: 0 auto;
                    transform: translateX(-50%);
                    margin-top: 105px;
                }

                @media (max-width: 576px) {
                    transform: translateX(0);
                    padding-left: 70px;
                    margin-left: 0;
                    max-width: 100%;

                }   
            }

            &:nth-child(3){
                order: 2;
                margin-left: 212px;
                max-width: 244px;
                @media (max-width: 1400px) {
                    margin-left: 202px;
                    
                }
                
                @media (max-width: 1200px) {
                    order: 3;
                    margin: 0 auto;
                    transform: translateX(63%);
                    margin-top: 105px;
                    max-width: 260px;
                }

                @media (max-width: 576px) {
                    transform: translateX(0);
                    padding-left: 70px;
                    width: 280px;
                    margin-left: 0;
                    max-width: 100%;
                }   
            }

            &:nth-child(4){
                order: 5;
                max-width: 277px;
                margin-right: auto;
                margin-top: 83px;
                margin-left: 183px;
                @media (max-width: 1400px) {
                    margin-left: 168px;
                }
                
                @media (max-width: 1200px) {
                    order: 4;
                    margin: 0 auto;
                    transform: translateX(-37%);
                    margin-top: 105px;
                }

                @media (max-width: 576px) {
                    transform: translateX(0);
                    margin-left: 0;
                    padding-left: 70px;
                    width: 300px;
                    max-width: 100%;
                }  
            }

            &:nth-child(5){
                order: 3;
                margin-left: 142px;
                max-width: 220px;

                @media (max-width: 1200px) {
                    order: 5;
                    margin: 0 auto;
                    transform: translateX(65%);
                    margin-top: 105px;
                }
                @media (max-width: 576px) {
                    transform: translateX(0);
                    padding-left: 70px;
                    margin-left: 0;
                    width: 280px;
                    max-width: 100%;
                }  
                
            }

            .item-past{
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 0.015em;
                color: #445877
            }

            .item-presently{
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 0.015em;
                color: #257CFF;
            }

            .item-future{
                font-weight: 400;
                font-size: 16px;
                letter-spacing: 0.015em;
                color: #6B7688;
            }


        }
    }
}


//joinOurCommunity
.btn-join{
    background: #FFFFFF;
    box-shadow: 0px 6px 10px -8px rgba(0, 0, 0, 0.16);
    border-radius: 24px;
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;

    &-title{
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.015em;
        color: #000000;
        margin: auto 0;
    }

    svg{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.joinOurCommunity{

    background: #F1F2F6;

    .content-list{

        padding: 0;
        margin: 0;
        margin-top: 48px;
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;

        &-item{
            padding: 0;
            margin: 0;
            list-style-type: none;
            padding: 50px;
            background: linear-gradient(180deg, #FFFFFF 17.71%, rgba(255, 255, 255, 0) 100%);
            border-radius: 24px;
            text-align: center;
            width: 270px;
            height: 270px;


            &-brand{
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                letter-spacing: 0.015em;
                margin-top: 16px;
                
            }

            &-btn{
                padding: 27px 0 0 0;
            }
        }
    }
}


//foundingTeam

.foundingTeam{
    padding-top: 160px;

    @media (max-width: 992px) {
        padding-top: 80px;
    }


    .content-list{
        margin: 0;
        padding: 0;
        margin-top: 48px;
        display: flex;
        justify-content: center;
        // flex-wrap: wrap;
        align-items: center;
        gap: 30px;

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }

        &-item{
            margin: 0;
            padding: 0;
            padding: 32px;
            list-style-type: none;
            width: 370px;
            height: 370px;
            background: linear-gradient(135deg, rgba(241, 242, 246, 0) 0%, #F1F2F6 100%);
            border-radius: 24px;

            @media (max-width: 1200px) {
                width: 330px;
                height: 430px;  
                padding: 20px;
            }

            @media (max-width: 992px) {
                height: 380px;
            }

            @media (max-width: 576px) {
                width: 300px;
                height: 380px;
            }
            

            &-person{

                display: flex;
                justify-content: start;
                align-items: center;
                gap: 16px;

                &-pict{

                    width: 64px;
                    height: 64px;
                    border-radius: 32px;
                    overflow: hidden;
                    position: relative;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &-bio{

                    &-name{
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 19px;
                        text-align: center;
                        letter-spacing: 0.015em;
                        color: #000000;
                    }

                    &-jobTitle{
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        margin-top: 4px;
                        letter-spacing: 0.015em;
                        color: #858F9F;
                    }
                }
            }

            &-title{
                margin-top: 24px;
                font-weight: 400;
                font-size: 16px;
                line-height: 170%;
                letter-spacing: 0.015em;
                color: #858F9F;
                
            }
        }
    }
}


//FAQ

.FAQ{


    .content-box{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px; 
        margin-top: 48px;
        
        
    }
    
    .content-accordion-list{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        flex-wrap: wrap;
        gap: 30px;
        width: 500px;

        @media (max-width: 1200px) {
            width: 450px;
        }

        .accordion{
            width: 100%;
            &-item{
                
                background: #F1F2F6;
                background: #F1F2F6;
                border-radius: 16px;
                border: none;
    
            }
    
            &-button{
                box-shadow: none;
                background: #F1F2F6;
                gap: 20px;
                padding: 24px;
                
                @media (max-width: 1200px) {
                    padding: 15px;
                }

                &-title{
                    opacity: 0;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.015em;
                    color: #858F9F;
                    transition: opacity .1s linear;
                }
    
                
            }
    
    
            .accordion-button::after{
                background-image: url(../img/svg/arrowDown.svg);
                width: 20px;
                height: 12px;
            }
    
            .accordion-button:not(.collapsed)::after{
                background-image: url(../img/svg/arrowUp.svg);
                transform: rotate(360deg);
                width: 20px;
                height: 12px;
            }
    
            .collapsed{
                .accordion-button-title{
                    opacity: 1;
                    transition: opacity .1s linear;
                    transition-delay: .24s;
                }
            }
    
            &-body{
                padding: 13px 24px 24px 24px;
                

                @media (max-width: 1200px) {
                    padding: 13px 15px 15px 15px;
                }
                &-title{
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.015em;
                    color: #000000;
                }
    
                &-subtitle{
                    margin-top: 11px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 170%;
                    letter-spacing: 0.015em;
                    color: #6B7688;
                }
            }
        }
        
    }

    .btn-aBitBlue-link{
        
        margin: 0 auto;
        margin-top: 40px;

        .btn-aBitBlue{
            margin: 0 auto;
        }
        
    }
}

//footer

.footer{

    background: #F1F2F6;
    padding: 32px 0;

    .content-head{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

        .footer-links{
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 13px;

            
            &-item{
                padding: 0;
                margin: 0;
                list-style-type: none;

                a{
                    background: transparent;
                    
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    letter-spacing: 0.015em;
                    color: #6B7688;
                    padding: 14px 24px;
                    border-radius: 13px;

                    
                    &:hover{
                        background: #FFFFFF;
                        color: #257CFF;
                        transition: all .2s linear;
                    }

                    @media (max-width: 768px) {
                        padding: 9px;
                        border-radius: 9px;
                    }

                    @media (max-width: 425px) {
                        font-size: 12px;
                    }

                    @media (max-width: 375px) {
                        padding: 5px;
                    }
                }

            }
        }
    }

    .content-icons{
        .footer-icons-list{
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 16px;
            margin-top: 16px;

            @media (max-width: 992px) {
                justify-content: center;
                margin-top: 25px;
            }

            flex-wrap: wrap;
            &-item{
                margin: 0;
                padding: 0;
                list-style-type: none;

                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 56px;
                    height: 56px;
                    background: #FFFFFF;
                    border: 1px solid #EAECF2;
                    border-radius: 28px;

                    &:hover{
                        box-shadow: 0px 10px 8px -4px rgba(0, 0, 0, 0.08);
                    }

                    
                }
            }
        }
    }

    .content-text{
        margin-top: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 170%;
        letter-spacing: 0.015em;
        color: #6B7688;
        @media (max-width: 992px) {
            text-align: center;
        }
    }
}