
@keyframes animloader {
    0%   { height: 1.2rem} 
    100% { height: .2rem} 
}


.inputWrapper{
    position: relative;
    width: 25rem;
    height: 3.2rem;
    color: #8FA5B9;

    input{
        width: 100%;
        height: 100%;
        padding: .2rem 3rem;
        font-size: 1.2rem;
        border: 2px #8FA5B9 solid;
        border-radius: 1.3rem;
        background: transparent;
        color: #8FA5B9;

        &::placeholder{
            color: #8FA5B9;
        }
    }

    i{
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .loader {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        width: 4px;
        height: .4rem;
        border-radius: 4px;
        display: block;
        background: currentColor;
        color: #8FA5B9;
        box-sizing: border-box;
        animation: animloader 0.3s 0.3s linear infinite alternate;
    
        &:after, &:before {
            content: '';
            width: 4px;
            height: .4rem;
            border-radius: 4px;
            background: currentColor;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: .6rem;
            box-sizing: border-box;
            animation: animloader 0.3s  0.45s  linear infinite alternate;
        }
        &:before {
            left: -.6rem;
            animation-delay: 0s;
        }
    }
}




