@font-face {font-family: "Roobert TWHINT"; src: url("//db.onlinewebfonts.com/t/158812454bc0e9c9debed8fe678003c0.eot"); src: url("//db.onlinewebfonts.com/t/158812454bc0e9c9debed8fe678003c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/158812454bc0e9c9debed8fe678003c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/158812454bc0e9c9debed8fe678003c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/158812454bc0e9c9debed8fe678003c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/158812454bc0e9c9debed8fe678003c0.svg#Roobert TWHINT") format("svg"); }

//           font-family: "Roobert TWHINT";

*{
    font-family: "Roobert TWHINT";
}

// Enroll button
.enroll_btn{
    background: #CCDB4A;
    box-shadow: 0px 10px 30px rgba(152, 72, 91, 0.2);
    border-radius: 56px;
    border: none;
    padding: 20px 80px;
    font-family: "Roobert TWHINT";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #5E724F;
    @media (max-width: 1200px) {
        padding: 15px 50px;
        font-size: 20px;
        line-height: 25px;
    }
    @media (max-width: 993px) {
        padding: 10px 30px;
        font-size: 16px;
        line-height: 20px;
    }
}

.content{
    padding: 0;
    margin: 0;
    @media (max-width: 576px) {
        padding: 0 30px;
    }
}

.mob{
    display: none;
    @media (max-width: 576px) {
        display: block;
    }
}
.desk{
    @media (max-width: 576px) {
        display: none;
    }
}

.section{
    padding: 120px 0;
    position: relative;
    overflow: hidden;  
    max-width: 2000px;
    margin: 0 auto;
    @media (max-width: 1200px) {
        padding: 90px 0;
    }
    @media (max-width: 576px) {
        padding: 70px 0;
    }
}

.h2{
    font-family: "Roobert TWHINT";
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 62px;
    color: #F3654A;
    @media (max-width: 1200px) {
        font-size: 55px;
        line-height: 65px; 
    }
    @media (max-width: 992px) {
        font-size: 45px;
        line-height: 50px;
    }
    @media (max-width: 576px) {
        padding: 0 30px;   
    }
    
}

.h3{
    font-family: "Roobert TWHINT";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #6D2936;
    @media (max-width: 1200px) {
        font-size: 20px;
        line-height: 25px;
    }
    @media (max-width: 992px) {
        font-size: 13px;
        line-height: 20px;
    }
    @media (max-width: 576px) {
     padding: 0 30px; 
     font-size: 16px;  
    }
}

.h5{
    margin: 0;
    .subtitle{
        font-family: "Roobert TWHINT";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;        
        color: #F3654A;
        

    }
}

body{
    
    background: #FCF6E8;  
}




//header
.header{
    position: relative;
    background: #FCF6E8;  
    overflow: hidden;  
    max-width: 2000px;
    margin: 0 auto;
    .container{
        z-index: 3;
    }

    .nav{
        width: 95.2%;
        max-width: 1600px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto; 
        padding: 20px 70px;
        padding-bottom: 0;
        @media (max-width: 993px) {
            padding: 0; 
            padding-top: 10px;  
        }
        .logo{
            img{
                width: 100%;
            }
            @media (max-width: 993px) {
            
            }
        }

        &_btn{
            border: 1px solid #F3654A;
            background: none;
            border-radius: 30px;
            padding: 18px 41px;
            font-family: "Roobert TWHINT";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            letter-spacing: -0.3px;
            color: #F3654A;
            max-height: 56px;
            @media (max-width: 768px) {
                padding: 5px 10px;
                font-size: 12px;
            }
        }

        
    }

    .h1{
        margin-top: 141px;
        font-family: "Roobert TWHINT";
        font-style: normal;
        font-weight: 600;
        font-size: 80px;
        line-height: 84px;
        color: #F3654A;
        @media (max-width: 1200px) {
            font-size: 60px;
            line-height: 65px;
        }
        @media (max-width: 993px) {
            font-size: 40px;
            line-height: 45px;
            margin-top: 60px;
        }
        @media (max-width: 576px) {
            padding: 0 30px;
        }
    }

    .header_subtitle{
        font-family: "Roobert TWHINT";
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 45px;
        color: #6D2936;
        padding-right: 20px;
        margin-top: 16px;
        @media (max-width: 1200px) {
            font-size: 30px;
            line-height: 40px;
        }
        @media (max-width: 993px) {
           font-size: 20px;
           line-height: 30px;
           margin-top: 5px;
        }
        @media (max-width: 576px) {
            padding: 0 30px;
        }
    }

    .enroll_btn{
        margin-top: 60px;
        max-width: 280px;
        @media (max-width: 1200px) {
            margin-top: 40px;
        }
        @media (max-width: 993px) {
           margin-top: 25px;
        }
        @media (max-width: 768px) {
            display: block;
            margin: 0 auto;
            margin-top: 16px;
            max-width: 314px;
            padding: 20px 90px;
            font-size: 24px;
            line-height: 29px;
        }
        @media (max-width: 325px) {
           padding: 10px 85px;
           font-size: 20px;
        }
    }

    .h5{
        margin-top: 16px;
        .subtitle{
            display: flex;
        }
        @media (max-width: 993px) {
            margin-top: 10px;
            .subtitle{
                font-size: 13px;
                line-height: 15px;
            }
        }
        @media (max-width: 768px) {
            .subtitle{
                display: flex;
                justify-content: center;
            }
        }
        
    }

    .header_seen_section{
        width: 100%;
        background: #6D2936;
        // position: relative;
        margin: 0 auto;
        padding: 45px 100px 55px 100px;
        margin-top: 80px;
        z-index: -2;
        @media (max-width: 1200px) {
            margin-top: 60px;
            padding: 35px 80px 40px 80px;
        }
        @media (max-width: 993px) {
            margin-top: 25px;
            padding: 25px 60px;
            
        }
        @media (max-width: 425px) {
            margin-top: 380px;
        }
        @media (max-width: 375px) {
            margin-top: 320px;
        }
        .title{
            font-family: "Roobert TWHINT"; 
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 32px;     
            text-align: center;       
            color: #FFFFFF;

            @media (max-width: 993px) {
                font-size: 22px;
                line-height: 18px;
            }
            
        }
        ul{
            margin: 0;
            padding: 0;
            margin-top: 15px;
            display: flex;
            justify-content: space-between;

            @media (max-width: 768px) {
                flex-wrap: wrap;
                justify-content: space-around;
                align-content: space-between;
            }
            
            li{
                list-style-type: none;
                max-width: 220px;
                display: flex;
                justify-content: center;
                align-items: center;

                @media (max-width: 1200px) {
                    max-width: 150px;
                }

                @media (max-width: 993px) {
                    max-width: 115px;
                }

                @media (max-width: 768px) {
                    margin-top: 10px;
                }

                .header_seen_section_barnd{
                    width: 100%;
                }
            }
        }
    }

    .header_hand_img{
        position: absolute;
        width: 50%;
        bottom: 55px;
        right: -14%;
        max-width: 755px;
        @media (max-width: 992px) {
            width: 40%;
        }
        @media (max-width: 768px) {
            display: none;
        }
        @media (max-width: 425px) {
            display: block;
            width: 100%;
            right: -27.2%;
            bottom: 10%;
        }
        @media (max-width: 346px) {
            bottom: 20%;
        }
    }
}


//whatToExpect
.whatToExpect{
    background: #EDCFAB;
    .h2, .h3{
        padding-right: 75px;
        @media (max-width: 1200px) {
            padding-right: 0px;
        }
        @media (max-width: 576px) {
            padding-right: 30px;
        }
    }

    .h3{
        margin-top: 30px;
    }
    ul{
        padding: 0;
        margin-top: 18px;
        margin-bottom: 0;
        @media (max-width: 768px) {
            margin-top: 10px;
        }
        @media (max-width: 576px) {
            padding: 0 30px;
            
        }
        @media (max-width: 425px) {
            margin-top: 450px;
        }
        li{
            list-style-type: none;
            background: #FCF6E8;
            box-shadow: 0px 5px 20px rgba(216, 182, 141, 0.5);
            border-radius: 30px 30px 0px 30px;
            display: flex;
            align-items: center;
            padding: 16px 32px;
            min-height: 92px;
            margin: 32px 10px 32px 0;
            @media (max-width: 768px) {
                margin: 16px 5px 16px 0;
            }
            @media (max-width: 576px) {
                padding: 16px;
            }
            .why_list_icon{
                margin-right: 24px;
            }
            .why_list_title{
                max-width: 542px;
                margin: 0;
                padding: 0;
            }
            .list_link{
                max-width: none;
                width: 100%;
            }
            .why_list_link{
                margin-right: 0;
                margin-left: auto;  
                font-family: "Roobert TWHINT";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;                
                color: #F3654A;
                width: 100px;
                @media (max-width: 1200px) {
                    width: 95px;
                }
                @media (max-width: 992px) {
                    width: 75px;
                    font-size: 12px;
                }
                @media (max-width: 576px) {
                    width: 100%;
                }
            }

        }
    }

    .why_hand{
        position: absolute;
        left: -8%;
        top: 20%;
        width: 65%;
        transform: rotate(-20deg);
        @media (max-width: 768px) {
            display: none;
        }
        @media (max-width:425px) {
            display: block;
            width: 125%;
            top: 27%;
            left: -15%;
        }
        @media (max-width: 390px) {
            width: 150%;
            top: 29%;
            left: -25%; 
        }
        @media (max-width: 340px) {
            top: 32%;
        }
    }
}


//growingIndustry
.growingIndustry{
    background: #FCF6E8;
    .row{
        justify-content: space-around;
        align-items: center;
    }
    .growingIndustry_body{
        padding: 0;
        margin: 0;
        .h2{
            color: #6D2936;
        }
        .h3{
            margin-top: 30px;
            .h3_link{
                color: #F3654A;
                cursor: pointer;
                text-decoration: none;
            }
            .h3_strong{
                font-weight: 600;
            }
        }
    }
    .graph{
        max-width: 485px;
        max-height: 536px;
        background: #FFFFFF;
        box-shadow: 0px 10px 30px rgba(152, 72, 91, 0.2);
        border-radius: 30px 30px 0px 30px;
        padding: 40px;
        @media (max-width: 992px) {
            padding: 20px; 
            max-width: 320px;
            max-height: 350px;          
        }
        @media (max-width: 768px) {
            margin-top: 40px;
        }
        @media (max-width: 425px) {
            max-width: 90%;
            max-height: none;
            padding: 20px 20px 40px 20px;
            
        }
        .graph_stats{
            position: relative;
            .path1 , .path2 {
                display: none;
            }
            @keyframes line {
                100% {
                    stroke-dashoffset: 0;
                }
            }
            .path_line {
                display: block;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-name: line;
                animation-duration: 1s;
                animation-delay: 0s;
                stroke-dasharray: 466;
                stroke-dashoffset: 466;
    
            }
            svg{
                display: block;
                margin: 0 0 0 auto;
                @media (max-width: 992px) {
                    width: 220px;
                    height: 200px;
                }
                @media (max-width: 425px) {
                    width: 90%;
                    height: 285px;
                }
            }
            .vertical,.horizontal{
                font-family: "Roobert TWHINT";
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;                
                color: #6D2936;
                @media (max-width: 992px) {
                    font-size: 12px;
                }
            }
            .vertical{
                position: absolute;
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                justify-content: right;
                max-width: 45px;
                height: 260px;
                top: 0;
                left: 15px;
                @media (max-width: 992px) {
                   height: 180px;
                   top: 5px;
                   left: 10px;
                }
                @media (max-width: 425px) {
                    height: 235px;
                    top: 20px;
                    left: -12px;
                }
            }
            .horizontal{
                display: flex;
                justify-content: space-between;
                width: 260px;
                margin-left: 55px;
                @media (max-width: 992px) {
                    width: 210px;
                    margin-left: 61px;
                    margin-top: -10px;  
                }
                @media (max-width: 425px) {
                    width: 80%;
                    margin-left: 13%;
                    margin-top: -25px;
                }
                @media (max-width: 375px) {
                    margin-top: -35px;
                }
            }
            
        }
        .graph_title{
            font-family: "Roobert TWHINT";
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 45px;
            color: #F3654A;
            margin-top: 70px;
            @media (max-width: 1200px) {
                font-size: 30px;
            }
            @media (max-width: 992px) {
                margin-top: 5px;
                font-size: 20px;
            }
            @media (max-width: 425px) {
                font-size: 25px;
                margin-top: 15px;  
            }
        }
        .graph_subtitle{
            font-family: "Roobert TWHINT";
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 30px;
            color: #F3654A;
            margin-top: 15px;
            @media (max-width: 1200px) {
                margin-top: 5px;
                font-size: 20px;
            }
            @media (max-width: 992px) {
                margin-top: 5px;
                font-size: 15px;
                line-height: 15px;   
            }
            @media (max-width: 425px) {
                margin-top: 10px;
                font-size: 16px;
            }
        }
        

        
    }
    
}


//why
.why{
    background: #F3654A;
    padding-bottom: 0;
    .h2{
        color: #6D2936;
        text-align: center;
        z-index: 2;
        .h2_white{
            color: #FCF6E8;
        }
    }
    h3{
        color: #EDCFAB;
        text-align: center;
        max-width: 825px;
        margin: 0 auto;
        margin-top: 30px;
        z-index: 2;
    }
    ul{
        display: flex;
        margin: 0 auto;
        padding: 0;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 60px;
        z-index: 2;
        li{
            width: 360px;
            height: 270px;
            margin-top: 20px;
            list-style-type: none;
            background: #FFFFFF;
            box-shadow: 0px 10px 30px rgba(152, 72, 91, 0.2);
            border-radius: 30px;
            padding: 35px 40px;
            @media (max-width: 992px) {
                width: 320px;
                height: 250px;
                padding: 25px 30px;
            }
            @media (max-width: 375px) {
                width: 280px;
            }
            .why_list_header{
                display: flex;
                align-items: center;
                @media (max-width: 375px) {
                    height: 50px;
                }
                .title{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 32px;                
                    color: #F3654A;
                    margin-left: 12px;
                    @media (max-width: 992px) {
                        font-size: 22px;
                        height: 64px;
                        display: flex;
                        align-items: center;
                    }
                    @media (max-width: 375px) {
                        font-size: 21px;
                        line-height: 27px;
                        
                    }
                }
            }
            .subtitle{
                margin-top: 16px;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #6D2936;
                @media (max-width: 375px) {
                    font-size: 14px;
                    
                }
            }
        }
    }

    .why_img{
        // position: absolute;
        width: 100%;
        margin-top: -7%;
        margin-bottom: -190px;
        @media (max-width: 768px) {
            margin-bottom: -50px;
        }
    }
}

.theWelloryxDifference{
    text-align: center;
    background: #F3654A;
    .h2{
        text-align: center;
        color: #FFFFFF;
    }

    ul{
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 1100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        position: relative;
        margin-top: 25px;
        @media (max-width: 992px) {
            justify-content: space-around;            
        }
        @media (max-width: 425px) {
            margin-top: 15px;
        
        }
        li{


            margin-top: 25px;
            list-style-type: none;
            background: #FFFFFF;
            max-width: 346px !important;
            height: 720px;
            box-shadow: 0px 10px 30px rgba(152, 72, 91, 0.2);
            border-radius: 30px 30px 0px 30px;
            padding: 40px;
            text-align: left;
            @media (max-width: 1200px) {
                max-width: 305px !important;
                padding: 20px;
                height: 555px;
            }
            @media (max-width: 425px) {
                height: auto;
                
            }

            .list_header{
                .title{
                    margin-top: 16px;   
                    font-style: normal;
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 32px;
                    color: #F3654A;
                    @media (max-width: 1200px) {
                        font-size: 24px;
                        line-height: 30px; 
                    }
                    @media (max-width: 425px) {
                        font-size: 22px;
                        line-height: 30px;
                    }
                }
            }
            .list_body{
                margin-top: 16px;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;
                color: #6D2936;
                @media (max-width: 1200px) {
                    font-size: 16px;
                    line-height: 23px;        
                }
                @media (max-width: 425px) {
                    height: auto;
                
                }
            }
        }
    }

    .enroll_btn{
        margin-top: 50px;
        
    }
    .h5{
        margin-top: 24px;
        .subtitle{
            color: #FFFFFF;
        }
    }
}

// Who is WelloryX for? 
.whoIsWelloryxFor {
    background: #EDCFAB;

}