@font-face {
  font-family: "Roobert TWHINT";
  src: url("//db.onlinewebfonts.com/t/158812454bc0e9c9debed8fe678003c0.eot");
  src: url("//db.onlinewebfonts.com/t/158812454bc0e9c9debed8fe678003c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/158812454bc0e9c9debed8fe678003c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/158812454bc0e9c9debed8fe678003c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/158812454bc0e9c9debed8fe678003c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/158812454bc0e9c9debed8fe678003c0.svg#Roobert TWHINT") format("svg");
}

* {
  font-family: "Roobert TWHINT";
}

a {
  text-align: center;
}

.enroll_btn {
  background: #CCDB4A;
  -webkit-box-shadow: 0px 10px 30px rgba(152, 72, 91, 0.2);
          box-shadow: 0px 10px 30px rgba(152, 72, 91, 0.2);
  border-radius: 56px;
  border: none;
  padding: 20px 80px;
  margin: 0 auto;
  font-family: "Roobert TWHINT";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #5E724F;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .enroll_btn {
    padding: 15px 50px;
    font-size: 20px;
    line-height: 25px;
  }
}

@media (max-width: 993px) {
  .enroll_btn {
    padding: 10px 30px;
    font-size: 16px;
    line-height: 20px;
  }
}

.content {
  padding: 0;
  margin: 0;
}

@media (max-width: 576px) {
  .content {
    padding: 0 30px;
  }
}

.mob {
  display: none;
}

@media (max-width: 576px) {
  .mob {
    display: block;
  }
}

@media (max-width: 576px) {
  .desk {
    display: none;
  }
}

.section {
  padding: 120px 0;
  position: relative;
  overflow: hidden;
  max-width: 2000px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .section {
    padding: 90px 0;
  }
}

@media (max-width: 576px) {
  .section {
    padding: 70px 0;
  }
}

.h2 {
  font-family: "Roobert TWHINT";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 62px;
  color: #F3654A;
}

@media (max-width: 1200px) {
  .h2 {
    font-size: 55px;
    line-height: 65px;
  }
}

@media (max-width: 992px) {
  .h2 {
    font-size: 45px;
    line-height: 50px;
  }
}

@media (max-width: 576px) {
  .h2 {
    padding: 0 30px;
  }
}

.h3 {
  font-family: "Roobert TWHINT";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #6D2936;
}

@media (max-width: 1200px) {
  .h3 {
    font-size: 20px;
    line-height: 25px;
  }
}

@media (max-width: 992px) {
  .h3 {
    font-size: 13px;
    line-height: 20px;
  }
}

@media (max-width: 576px) {
  .h3 {
    padding: 0 30px;
    font-size: 16px;
  }
}

.h5 {
  margin: 0;
}

.h5 .subtitle {
  font-family: "Roobert TWHINT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F3654A;
}

body {
  background: #FCF6E8;
}

.header {
  position: relative;
  background: #FCF6E8;
  overflow: hidden;
  max-width: 2000px;
  margin: 0 auto;
}

.header .container {
  z-index: 3;
}

.header .nav {
  width: 95.2%;
  max-width: 1600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px 70px;
  padding-bottom: 0;
}

@media (max-width: 993px) {
  .header .nav {
    padding: 0;
    padding-top: 10px;
  }
}

.header .nav .logo img {
  width: 100%;
}

.header .nav_btn {
  border: 1px solid #F3654A;
  background: none;
  border-radius: 30px;
  padding: 18px 41px;
  max-height: 56px;
  font-family: "Roobert TWHINT";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.3px;
  color: #F3654A;
  text-decoration: none;
}

@media (max-width: 768px) {
  .header .nav_btn {
    padding: 5px 10px;
    font-size: 12px;
  }
}

.header .h1 {
  margin-top: 141px;
  font-family: "Roobert TWHINT";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 84px;
  color: #F3654A;
}

@media (max-width: 1200px) {
  .header .h1 {
    font-size: 60px;
    line-height: 65px;
  }
}

@media (max-width: 993px) {
  .header .h1 {
    font-size: 40px;
    line-height: 45px;
    margin-top: 60px;
  }
}

@media (max-width: 576px) {
  .header .h1 {
    padding: 0 30px;
  }
}

.header .header_subtitle {
  font-family: "Roobert TWHINT";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 45px;
  color: #6D2936;
  padding-right: 20px;
  margin-top: 16px;
}

@media (max-width: 1200px) {
  .header .header_subtitle {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 993px) {
  .header .header_subtitle {
    font-size: 20px;
    line-height: 30px;
    margin-top: 5px;
  }
}

@media (max-width: 576px) {
  .header .header_subtitle {
    padding: 0 30px;
  }
}

.header .enroll_btn {
  margin-top: 60px;
  max-width: 280px;
}

@media (max-width: 1200px) {
  .header .enroll_btn {
    margin-top: 40px;
  }
}

@media (max-width: 993px) {
  .header .enroll_btn {
    margin-top: 25px;
  }
}

@media (max-width: 768px) {
  .header .enroll_btn {
    display: block;
    margin: 0 auto;
    margin-top: 16px;
    max-width: 314px;
    padding: 20px 90px;
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 325px) {
  .header .enroll_btn {
    padding: 10px 85px;
    font-size: 20px;
  }
}

.header .h5 {
  margin-top: 16px;
}

.header .h5 .subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 993px) {
  .header .h5 {
    margin-top: 10px;
  }
  .header .h5 .subtitle {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 768px) {
  .header .h5 .subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .header_seen_section {
  width: 100%;
  background: #6D2936;
  margin: 0 auto;
  padding: 45px 100px 55px 100px;
  margin-top: 80px;
  z-index: -2;
}

@media (max-width: 1200px) {
  .header .header_seen_section {
    margin-top: 60px;
    padding: 35px 80px 40px 80px;
  }
}

@media (max-width: 993px) {
  .header .header_seen_section {
    margin-top: 25px;
    padding: 25px 60px;
  }
}

@media (max-width: 425px) {
  .header .header_seen_section {
    margin-top: 380px;
  }
}

@media (max-width: 375px) {
  .header .header_seen_section {
    margin-top: 320px;
  }
}

.header .header_seen_section .title {
  font-family: "Roobert TWHINT";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 993px) {
  .header .header_seen_section .title {
    font-size: 22px;
    line-height: 18px;
  }
}

.header .header_seen_section ul {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .header .header_seen_section ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
}

.header .header_seen_section ul li {
  list-style-type: none;
  max-width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .header .header_seen_section ul li {
    max-width: 150px;
  }
}

@media (max-width: 993px) {
  .header .header_seen_section ul li {
    max-width: 115px;
  }
}

@media (max-width: 768px) {
  .header .header_seen_section ul li {
    margin-top: 10px;
  }
}

.header .header_seen_section ul li .header_seen_section_barnd {
  width: 100%;
}

.header .header_hand_img {
  position: absolute;
  width: 50%;
  bottom: 55px;
  right: -14%;
  max-width: 755px;
}

@media (max-width: 992px) {
  .header .header_hand_img {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .header .header_hand_img {
    display: none;
  }
}

@media (max-width: 425px) {
  .header .header_hand_img {
    display: block;
    width: 100%;
    right: -27.2%;
    bottom: 10%;
  }
}

@media (max-width: 346px) {
  .header .header_hand_img {
    bottom: 20%;
  }
}

.whatToExpect {
  background: #EDCFAB;
}

.whatToExpect .h2, .whatToExpect .h3 {
  padding-right: 75px;
}

@media (max-width: 1200px) {
  .whatToExpect .h2, .whatToExpect .h3 {
    padding-right: 0px;
  }
}

@media (max-width: 576px) {
  .whatToExpect .h2, .whatToExpect .h3 {
    padding-right: 30px;
  }
}

.whatToExpect .h3 {
  margin-top: 30px;
}

.whatToExpect ul {
  padding: 0;
  margin-top: 18px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .whatToExpect ul {
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .whatToExpect ul {
    padding: 0 30px;
  }
}

@media (max-width: 425px) {
  .whatToExpect ul {
    margin-top: 450px;
  }
}

.whatToExpect ul li {
  list-style-type: none;
  background: #FCF6E8;
  -webkit-box-shadow: 0px 5px 20px rgba(216, 182, 141, 0.5);
          box-shadow: 0px 5px 20px rgba(216, 182, 141, 0.5);
  border-radius: 30px 30px 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 32px;
  min-height: 92px;
  margin: 32px 10px 32px 0;
}

@media (max-width: 768px) {
  .whatToExpect ul li {
    margin: 16px 5px 16px 0;
  }
}

@media (max-width: 576px) {
  .whatToExpect ul li {
    padding: 16px;
  }
}

.whatToExpect ul li .why_list_icon {
  margin-right: 24px;
}

.whatToExpect ul li .why_list_title {
  max-width: 542px;
  margin: 0;
  padding: 0;
}

.whatToExpect ul li .list_link {
  max-width: none;
  width: 100%;
}

.whatToExpect ul li .why_list_link {
  margin-right: 0;
  margin-left: auto;
  font-family: "Roobert TWHINT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F3654A;
  width: 100px;
}

@media (max-width: 1200px) {
  .whatToExpect ul li .why_list_link {
    width: 95px;
  }
}

@media (max-width: 992px) {
  .whatToExpect ul li .why_list_link {
    width: 75px;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .whatToExpect ul li .why_list_link {
    width: 100%;
  }
}

.whatToExpect .why_hand {
  position: absolute;
  left: -8%;
  top: 20%;
  width: 65%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

@media (max-width: 768px) {
  .whatToExpect .why_hand {
    display: none;
  }
}

@media (max-width: 425px) {
  .whatToExpect .why_hand {
    display: block;
    width: 125%;
    top: 27%;
    left: -15%;
  }
}

@media (max-width: 390px) {
  .whatToExpect .why_hand {
    width: 150%;
    top: 29%;
    left: -25%;
  }
}

@media (max-width: 340px) {
  .whatToExpect .why_hand {
    top: 32%;
  }
}

.growingIndustry {
  background: #FCF6E8;
}

.growingIndustry .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.growingIndustry .growingIndustry_body {
  padding: 0;
  margin: 0;
}

.growingIndustry .growingIndustry_body .h2 {
  color: #6D2936;
}

.growingIndustry .growingIndustry_body .h3 {
  margin-top: 30px;
}

.growingIndustry .growingIndustry_body .h3 .h3_link {
  color: #F3654A;
  cursor: pointer;
  text-decoration: none;
}

.growingIndustry .growingIndustry_body .h3 .h3_strong {
  font-weight: 600;
}

.growingIndustry .graph {
  max-width: 485px;
  max-height: 536px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 30px rgba(152, 72, 91, 0.2);
          box-shadow: 0px 10px 30px rgba(152, 72, 91, 0.2);
  border-radius: 30px 30px 0px 30px;
  padding: 40px;
}

@media (max-width: 992px) {
  .growingIndustry .graph {
    padding: 20px;
    max-width: 320px;
    max-height: 350px;
  }
}

@media (max-width: 768px) {
  .growingIndustry .graph {
    margin-top: 40px;
  }
}

@media (max-width: 425px) {
  .growingIndustry .graph {
    max-width: 90%;
    max-height: none;
    padding: 20px 20px 40px 20px;
  }
}

.growingIndustry .graph .graph_stats {
  position: relative;
}

.growingIndustry .graph .graph_stats .path1, .growingIndustry .graph .graph_stats .path2 {
  display: none;
}

@-webkit-keyframes line {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes line {
  100% {
    stroke-dashoffset: 0;
  }
}

.growingIndustry .graph .graph_stats .path_line {
  display: block;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: line;
          animation-name: line;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  stroke-dasharray: 466;
  stroke-dashoffset: 466;
}

.growingIndustry .graph .graph_stats svg {
  display: block;
  margin: 0 0 0 auto;
}

@media (max-width: 992px) {
  .growingIndustry .graph .graph_stats svg {
    width: 220px;
    height: 200px;
  }
}

@media (max-width: 425px) {
  .growingIndustry .graph .graph_stats svg {
    width: 90%;
    height: 285px;
  }
}

.growingIndustry .graph .graph_stats .vertical, .growingIndustry .graph .graph_stats .horizontal {
  font-family: "Roobert TWHINT";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #6D2936;
}

@media (max-width: 992px) {
  .growingIndustry .graph .graph_stats .vertical, .growingIndustry .graph .graph_stats .horizontal {
    font-size: 12px;
  }
}

.growingIndustry .graph .graph_stats .vertical {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  max-width: 45px;
  height: 260px;
  top: 0;
  left: 15px;
}

@media (max-width: 992px) {
  .growingIndustry .graph .graph_stats .vertical {
    height: 180px;
    top: 5px;
    left: 10px;
  }
}

@media (max-width: 425px) {
  .growingIndustry .graph .graph_stats .vertical {
    height: 235px;
    top: 20px;
    left: -12px;
  }
}

.growingIndustry .graph .graph_stats .horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px;
  margin-left: 55px;
}

@media (max-width: 992px) {
  .growingIndustry .graph .graph_stats .horizontal {
    width: 210px;
    margin-left: 61px;
    margin-top: -10px;
  }
}

@media (max-width: 425px) {
  .growingIndustry .graph .graph_stats .horizontal {
    width: 80%;
    margin-left: 13%;
    margin-top: -25px;
  }
}

@media (max-width: 375px) {
  .growingIndustry .graph .graph_stats .horizontal {
    margin-top: -35px;
  }
}

.growingIndustry .graph .graph_title {
  font-family: "Roobert TWHINT";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  color: #F3654A;
  margin-top: 70px;
}

@media (max-width: 1200px) {
  .growingIndustry .graph .graph_title {
    font-size: 30px;
  }
}

@media (max-width: 992px) {
  .growingIndustry .graph .graph_title {
    margin-top: 5px;
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .growingIndustry .graph .graph_title {
    font-size: 25px;
    margin-top: 15px;
  }
}

.growingIndustry .graph .graph_subtitle {
  font-family: "Roobert TWHINT";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #F3654A;
  margin-top: 15px;
}

@media (max-width: 1200px) {
  .growingIndustry .graph .graph_subtitle {
    margin-top: 5px;
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .growingIndustry .graph .graph_subtitle {
    margin-top: 5px;
    font-size: 15px;
    line-height: 15px;
  }
}

@media (max-width: 425px) {
  .growingIndustry .graph .graph_subtitle {
    margin-top: 10px;
    font-size: 16px;
  }
}

.why {
  background: #F3654A;
  padding-bottom: 0;
}

.why .h2 {
  color: #6D2936;
  text-align: center;
  z-index: 2;
}

.why .h2 .h2_white {
  color: #FCF6E8;
}

.why h3 {
  color: #EDCFAB;
  text-align: center;
  max-width: 825px;
  margin: 0 auto;
  margin-top: 30px;
  z-index: 2;
}

.why ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 60px;
  z-index: 2;
  width: 85%;
}

.why ul li {
  width: 360px;
  height: 270px;
  margin-top: 20px;
  list-style-type: none;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 30px rgba(152, 72, 91, 0.2);
          box-shadow: 0px 10px 30px rgba(152, 72, 91, 0.2);
  border-radius: 30px;
  padding: 35px 40px;
}

@media (max-width: 992px) {
  .why ul li {
    width: 320px;
    height: 250px;
    padding: 25px 30px;
  }
}

@media (max-width: 375px) {
  .why ul li {
    width: 280px;
  }
}

.why ul li .why_list_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 375px) {
  .why ul li .why_list_header {
    height: 50px;
  }
}

.why ul li .why_list_header .title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #F3654A;
  margin-left: 12px;
}

@media (max-width: 992px) {
  .why ul li .why_list_header .title {
    font-size: 22px;
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 375px) {
  .why ul li .why_list_header .title {
    font-size: 21px;
    line-height: 27px;
  }
}

.why ul li .subtitle {
  margin-top: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #6D2936;
}

@media (max-width: 375px) {
  .why ul li .subtitle {
    font-size: 14px;
  }
}

.why .why_img {
  width: 100%;
  margin-top: -7%;
  margin-bottom: -190px;
}

@media (max-width: 768px) {
  .why .why_img {
    margin-bottom: -50px;
  }
}

.theWelloryxDifference {
  text-align: center;
  background: #F3654A;
}

.theWelloryxDifference .h2 {
  text-align: center;
  color: #FFFFFF;
}

.theWelloryxDifference ul {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
  margin-top: 25px;
}

@media (max-width: 992px) {
  .theWelloryxDifference ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 425px) {
  .theWelloryxDifference ul {
    margin-top: 15px;
  }
}

.theWelloryxDifference ul li {
  margin-top: 25px;
  list-style-type: none;
  background: #FFFFFF;
  max-width: 346px !important;
  height: 720px;
  -webkit-box-shadow: 0px 10px 30px rgba(152, 72, 91, 0.2);
          box-shadow: 0px 10px 30px rgba(152, 72, 91, 0.2);
  border-radius: 30px 30px 0px 30px;
  padding: 40px;
  text-align: left;
}

@media (max-width: 1200px) {
  .theWelloryxDifference ul li {
    max-width: 305px !important;
    padding: 20px;
    height: 555px;
  }
}

@media (max-width: 425px) {
  .theWelloryxDifference ul li {
    height: auto;
  }
}

.theWelloryxDifference ul li .list_header .title {
  margin-top: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #F3654A;
}

@media (max-width: 1200px) {
  .theWelloryxDifference ul li .list_header .title {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (max-width: 425px) {
  .theWelloryxDifference ul li .list_header .title {
    font-size: 22px;
    line-height: 30px;
  }
}

.theWelloryxDifference ul li .list_body {
  margin-top: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #6D2936;
}

@media (max-width: 1200px) {
  .theWelloryxDifference ul li .list_body {
    font-size: 16px;
    line-height: 23px;
  }
}

@media (max-width: 425px) {
  .theWelloryxDifference ul li .list_body {
    height: auto;
  }
}

.theWelloryxDifference .enroll_btn {
  margin-top: 50px;
}

.theWelloryxDifference .h5 {
  margin-top: 24px;
}

.theWelloryxDifference .h5 .subtitle {
  color: #FFFFFF;
}

.isWelloryxRightForYou {
  background: #EDCFAB;
  position: relative;
}

.isWelloryxRightForYou .h3 {
  margin-top: 30px;
}

.isWelloryxRightForYou ul {
  margin: 0;
  padding: 0;
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 55px;
}

.isWelloryxRightForYou ul li {
  position: relative;
  padding: 10px;
  -webkit-filter: drop-shadow(0px 10px 30px rgba(152, 72, 91, 0.2));
          filter: drop-shadow(0px 10px 30px rgba(152, 72, 91, 0.2));
  list-style-type: none;
}

.isWelloryxRightForYou ul li .card {
  border-radius: 30px;
  overflow: hidden;
  background: none;
  border: none;
}

.isWelloryxRightForYou ul li .card .card_header_img {
  width: 100%;
  margin-top: -20px;
}

.isWelloryxRightForYou ul li .card .card_body {
  padding: 40px;
  height: 208px !important;
  background: #FFFFFF;
}

@media (max-width: 992px) {
  .isWelloryxRightForYou ul li .card .card_body {
    padding: 20px;
    height: 140px !important;
  }
}

.isWelloryxRightForYou ul li .card .card_body .title {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

@media (max-width: 992px) {
  .isWelloryxRightForYou ul li .card .card_body .title {
    font-size: 20px;
    line-height: 25px;
  }
}

.isWelloryxRightForYou ul li .card_last {
  margin-bottom: 0;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  border-radius: 0;
}

.isWelloryxRightForYou ul li .card_last .card_body {
  border-radius: 30px 30px 0px 30px;
  background: #FCF6E8;
}

.Curriculum {
  background: #6D2936;
  text-align: center;
  position: relative;
}

.Curriculum .h2, .Curriculum .h3 {
  color: #FFFFFF;
  margin: 0 auto;
  z-index: 2;
}

.Curriculum .h3 {
  margin-top: 30px;
}

.Curriculum ul {
  z-index: 2;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 55%;
  padding: 0;
  width: 85%;
  max-width: 860px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #FFFFFF;
  border-radius: 30px 30px 0px 30px;
  padding: 40px;
}

@media (max-width: 992px) {
  .Curriculum ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 567px) {
  .Curriculum ul {
    padding: 20px;
  }
}

.Curriculum ul .ul_title {
  width: 100%;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #6D2936;
  text-align: center;
}

@media (max-width: 567px) {
  .Curriculum ul .ul_title {
    margin-bottom: 0;
    margin-top: 12px;
  }
}

.Curriculum ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 56px;
}

@media (max-width: 992px) {
  .Curriculum ul li {
    margin-top: 24px !important;
    width: 90%;
  }
}

@media (max-width: 567px) {
  .Curriculum ul li {
    width: 100%;
  }
}

.Curriculum ul li .mark {
  background-color: transparent;
  margin-right: 16px;
}

.Curriculum ul li .list_body {
  text-align: left;
  min-height: 110px;
}

@media (max-width: 992px) {
  .Curriculum ul li .list_body {
    min-height: auto;
  }
}

.Curriculum ul li .list_body .title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #F3654A;
}

@media (max-width: 425px) {
  .Curriculum ul li .list_body .title {
    font-size: 22px;
    line-height: 30px;
  }
}

.Curriculum ul li .list_body .subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #6D2936;
  margin-top: 8px;
  width: 344px;
}

@media (max-width: 1200px) {
  .Curriculum ul li .list_body .subtitle {
    width: 310px;
  }
}

@media (max-width: 992px) {
  .Curriculum ul li .list_body .subtitle {
    width: auto;
  }
}

@media (max-width: 425px) {
  .Curriculum ul li .list_body .subtitle {
    font-size: 16px;
    line-height: 24px;
  }
}

.Curriculum ul li:nth-child(2), .Curriculum ul li:nth-child(3) {
  margin-top: 0;
}

.Curriculum .curriculum_img {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.leadingInstructors {
  background: #FCF6E8;
  text-align: center;
}

.leadingInstructors .h3 {
  margin-top: 30px;
}

.leadingInstructors ul {
  width: 85%;
  margin: 0 auto;
  padding: 0;
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.leadingInstructors ul li {
  list-style-type: none;
  padding: 10px;
}

.leadingInstructors ul li .header_img {
  position: relative;
}

.leadingInstructors ul li .header_img .bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F3654A;
  -webkit-box-shadow: 0px 10px 30px rgba(152, 72, 91, 0.2);
          box-shadow: 0px 10px 30px rgba(152, 72, 91, 0.2);
  border-radius: 30px 30px 0px 30px;
  max-height: 75%;
}

.leadingInstructors ul li .header_img .header_img {
  width: 120%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.leadingInstructors ul li .list_body {
  text-align: left;
  padding-top: 24px;
}

.leadingInstructors ul li .list_body .name {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #6D2936;
}

.leadingInstructors ul li .list_body .degree, .leadingInstructors ul li .list_body .bio {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #6D2936;
  margin-top: 16px;
}

.changeYourLife {
  text-align: center;
  background: #FCF6E8;
}

.changeYourLife .h2, .changeYourLife .h3 {
  max-width: 820px;
  margin: 0 auto;
}

.changeYourLife .h2 {
  color: #6D2936;
}

.changeYourLife .h2 .h2_orange {
  color: #F3654A;
}

.changeYourLife .h3 {
  margin-top: 30px;
  color: #98485B;
}

.changeYourLife .box {
  margin: 0 auto;
  margin-top: 80px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 30px rgba(152, 72, 91, 0.2);
          box-shadow: 0px 10px 30px rgba(152, 72, 91, 0.2);
  border-radius: 30px 30px 0px 30px;
  padding: 60px 100px;
  color: #6D2936;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 50px;
  min-height: 340px;
  text-align: left;
}

@media (max-width: 768px) {
  .changeYourLife .box {
    padding: 35px 40px;
    font-size: 35px;
    min-height: 280px;
  }
}

@media (max-width: 576px) {
  .changeYourLife .box {
    padding: 40px 20px;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
  }
}

.changeYourLife .box .box_orange {
  color: #F3654A;
}

.box {
  background: #6D2936;
  text-align: center;
}

.box .h2, .box .h3 {
  color: #FFFFFF;
  margin: 0 auto;
}

.box .h3 {
  margin-top: 30px;
}

.box .price_box {
  padding: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px -5px 50px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -5px 50px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  text-align: left;
  margin: 0 auto;
  margin-top: 50px;
}

@media (max-width: 576px) {
  .box .price_box {
    width: 90% !important;
  }
}

.box .price_box .list {
  padding-bottom: 34px;
  border-bottom: 2px #F3654A solid;
}

.box .price_box .list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 18px 0;
}

@media (max-width: 768px) {
  .box .price_box .list_item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.box .price_box .list_item .title {
  margin-left: 8px;
  margin-right: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #F3654A;
}

@media (max-width: 1400px) {
  .box .price_box .list_item .title {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .box .price_box .list_item .title {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .box .price_box .list_item .title {
    font-size: 16px;
    line-height: 24px;
    max-width: 85%;
  }
}

@media (max-width: 463px) {
  .box .price_box .list_item .title {
    max-width: 79%;
  }
}

.box .price_box .list_item .value {
  background: #FCF6E8;
  border-radius: 41px;
  padding: 6px 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #F3654A;
}

@media (max-width: 992px) {
  .box .price_box .list_item .value {
    font-size: 10px;
    line-height: 18px;
  }
}

@media (max-width: 768px) {
  .box .price_box .list_item .value {
    width: 100%;
    margin-right: 75%;
    margin-top: 16px;
    text-align: center;
  }
}

@media (max-width: 567px) {
  .box .price_box .list_item .value {
    margin-right: 65%;
  }
}

@media (max-width: 440px) {
  .box .price_box .list_item .value {
    margin-right: 55%;
  }
}

.box .price_box .total {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 45px;
  color: #F3654A;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .box .price_box .total {
    font-size: 25px;
    line-height: 30px;
    margin-top: 35px;
  }
}

@media (max-width: 576px) {
  .box .price_box .total {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .box .price_box .total .price {
    font-size: 40px;
    line-height: 45px;
    margin-top: 24px;
    width: 50%;
  }
}

.box .price_box .total .price, .box .price_box .total .oldPrice {
  margin-left: 16px;
}

.box .price_box .total .oldPrice {
  font-size: 28px;
  line-height: 32px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

@media (max-width: 992px) {
  .box .price_box .total .oldPrice {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width: 576px) {
  .box .price_box .total .oldPrice {
    font-size: 28px;
    line-height: 32px;
    margin: auto auto 10px 0;
  }
}

.box .price_box a {
  text-decoration: none;
}

.box .price_box a .enroll_btn {
  margin: 0 auto;
  display: block;
  margin-top: 45px;
}

.pricing {
  background: #F3654A;
  text-align: center;
}

.pricing .h2, .pricing .h3 {
  z-index: 2;
  color: #FFFFFF;
  margin: 0 auto;
}

.pricing .h3 {
  margin-top: 30px;
}

.pricing .cards {
  z-index: 2;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}

@media (max-width: 992px) {
  .pricing .cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.pricing .cards .card {
  margin: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px -5px 50px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -5px 50px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  text-align: left;
  padding: 30px;
}

@media (max-width: 768px) {
  .pricing .cards .card {
    padding: 20px;
  }
}

.pricing .cards .card .header_payment {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #F3654A;
}

.pricing .cards .card .single_payment_before {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #6D2936;
  margin-top: 56px;
}

.pricing .cards .card .single_payment_before .td {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.pricing .cards .card .single_payment_sub {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #6D2936;
  font-size: 22px !important;
  line-height: 30px !important;
  text-decoration: none !important;
}

.pricing .cards .card .single_payment_after {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 45px;
  color: #F3654A;
  margin-top: 16px;
}

.pricing .cards .card .enroll_btn {
  margin-top: 64px;
}

.pricing .cards_subtitle {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40%;
}

@media (max-width: 768px) {
  .pricing .cards_subtitle {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.pricing .cards_subtitle .icon {
  z-index: 2;
}

@media (max-width: 768px) {
  .pricing .cards_subtitle .icon {
    margin-bottom: 24px;
  }
}

.pricing .cards_subtitle .title {
  margin: 0;
  margin-left: 33px;
}

@media (max-width: 768px) {
  .pricing .cards_subtitle .title {
    padding: 0;
    margin: 0;
    text-align: center;
    padding: 10px;
  }
}

.pricing .pricing_img {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.enrollNow .h2, .enrollNow .h3 {
  text-align: center;
  color: #6D2936;
  margin: 0 auto;
}

.enrollNow .h2 .orange, .enrollNow .h3 .orange {
  color: #F3654A;
}

.enrollNow .h2 {
  font-size: 80px;
  line-height: 84px;
}

@media (max-width: 576px) {
  .enrollNow .h2 {
    font-size: 45px;
    line-height: 55px;
  }
}

.enrollNow .h3 {
  font-weight: 600;
  font-size: 40px;
  line-height: 45px;
  margin-top: 24px;
}

@media (max-width: 576px) {
  .enrollNow .h3 {
    font-size: 25px;
    line-height: 35px;
  }
}

.enrollNow .card {
  background: #F3654A;
  -webkit-box-shadow: 80px 80px 100px #C9B59E;
          box-shadow: 80px 80px 100px #C9B59E;
  border-radius: 30px;
  padding: 40px 50px;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}

@media (max-width: 576px) {
  .enrollNow .card {
    padding: 25px;
  }
}

.enrollNow .card .card_header {
  margin: 0 20px;
}

@media (max-width: 576px) {
  .enrollNow .card .card_header {
    padding: 0;
  }
}

.enrollNow .card .card_header .white {
  color: #FFFFFF;
}

.enrollNow .card .card_subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  margin-top: 24px;
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .enrollNow .card .card_subtitle {
    font-size: 20px;
    line-height: 30px;
  }
}

.enrollNow .card .enroll_btn {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  margin-top: 40px;
}

.footer {
  background: #6D2936;
}

.footer .nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .footer .nav .logo img {
    width: 275px;
  }
}

@media (max-width: 768px) {
  .footer .nav .enroll_btn {
    margin-top: 20px;
  }
}

.footer .footer_ver {
  margin-top: 75px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #F3654A;
}
/*# sourceMappingURL=style.css.map */