.appSidebar{
    height: 100vh;
    width: 23rem;
    border-right: 1px #DEE2EC solid;
    padding: 46px 31px 50px 31px;
    position: fixed;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    /* width */
    &::-webkit-scrollbar {
        width: 3px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background:  #E5050F;
        border-radius: 10px 0 0 10px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background:  #E5050F;
    }
}