@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

//preloader

.preloader {
    position: fixed;
    z-index: 9999;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    }

    .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    }
    .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
    }
    .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #2A878E;
    margin: -4px 0 0 -4px;
    }
    .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
    }
    .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
    }
    .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
    }
    .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
    }
    .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
    }
    .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
    }
    .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
    }
    .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
    }
    .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
    }
    .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
    }
    .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
    }
    .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
    }
    .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
    }
    .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
    }
    .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
    }
    .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
    }
    @keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }
  

// /preloader


html, body{
    // display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #F5F5F5;
    position: relative;
    main{
        flex: 1 1 auto;
    }
}

li{
    list-style-type: none;
}

p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #41568F;
    margin:  30px 0;
}






//section

.header, .section, .footer{
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}

.section{
    background: #F5F5F5;

    padding: 90px 90px;
    position: relative;

    @media (max-width: 1024px) {
        padding: 60px 60px;
    }
    @media (max-width: 768px) {
        padding: 30px 15px;
    }

    .container{
        
        max-width: 1300px;
        margin: 0 auto;

        .h2{

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 52px;
            line-height: 61px;
            color: #2A878E;
            margin-bottom: 10px;

            @media (max-width: 1200px) {
                font-size: 38px;
            }

            @media (max-width: 576px) {
                font-size: 35px;
                line-height: 47px;
            }

        }

        .h2-medium{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 52px;
            line-height: 61px;
            color: #2A878E;

            @media (max-width: 1200px) {
                font-size: 38px;
            }

            @media (max-width: 576px) {
                font-size: 30px;
                line-height: 47px;
            }
        }

        .h3-medium{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
            color: #2A878E;

            @media (max-width: 768px) {
                font-size: 19px;    
                line-height: 30px;
            }
        }

        .h3-big{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 102px;
            line-height: 120px;
            color: #E2A203;

            @media (max-width: 1024px) {
                font-size: 80px;                
            }

            @media (max-width: 568px) {
                font-size: 50px;
                line-height: 50px;
            }
        }
    }
}

//btns

.btn{
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;
    border: 0;
    border-radius: 25px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    color: #FFFFFF;
    cursor: pointer;

    transition: transform .2s linear;

    &:hover{
        transform: scale(0.98);
    }


    @media (max-width: 1024px) {
        font-size: 16px;
        padding: 10px 30px;
    }

    @media (max-width: 576px) {
        font-size: 14px;
        padding: 10px 20px;
    }

    
}

.btn-blue{
    background: #41568F;
}

.btn-white{
    background: transparent;
    border: 3px solid #FFFFFF;
    padding: 15px 60px;
    font-size: 21px;
    line-height: 25px;
}

a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    color: #FFFFFF;
    text-decoration: none;

    @media (max-width: 1024px) {
        font-size: 16px;
    }

    @media (max-width: 576px) {
        font-size: 14px;
    }
}







// HEADER

.header{
    width: 100%;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 60px;
        background: #C6DADB;

        @media (max-width: 1285px) {
            padding: 20px 60px;
        }


        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: stretch;
            justify-content: start;
            padding: 20px;
        }

        .navbar__head{
            
            @media (max-width: 1024px) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-logo{
                max-width: 340px;
                

                @media (max-width: 1285px) {
                    max-width: 300px;
                }

                @media (max-width: 1100px) {
                    max-width: 280px;
                }

                @media (max-width: 576px) {
                    max-width: 215px;
                }

                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                img{
                    max-width: 100%;
                }
            }

            .navbar__head-btns{
                display: none;
                @media (max-width: 1024px) {
                    display: block;

                    button{
                        display: none;

                        border: none;
                        background-color: transparent;
                        
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }

                    .show{
                        display: flex;
                    }
                }
            }
        }


        .navbar__links{
            overflow: hidden;
            position: relative;
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                @media (max-width: 1024px) {
                    flex-direction: column;
                    margin-top: -100%;

                    transition: margin-top .2s linear;
                }

                li{

                    transition: all .2s linear;

                    a{
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 18px;
                        text-align: center;
                        text-transform: uppercase;
                        
                        color: #41568F;

                        @media (max-width: 1285px) {
                            font-size: 12px;
                        }

                        @media (max-width: 1100px) {
                            font-size: 11px;
                        }

                        @media (max-width: 1024px) {
                            font-size: 20px;
                        }
                        
                    }

                    

                    &:hover{

                        transform: translateY(-2px);
                    }
                }

                .active{
                    border-bottom: 2px #1B0917 solid;

                    a{
                        color: #1B0917;
                    }
                }
            }
        }

        .links-open{
            @media (max-width: 1024px) {
                ul{
                    margin-top: 0;
                    padding: 40px 0;
                }
            }
        }
    }
}

.footer{
    background: #C6DADB;

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center; 
        gap: 30px;


        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .navbar__head{
            
            

            &-logo{
                max-width: 340px;
                

                @media (max-width: 1285px) {
                    max-width: 300px;
                }

                @media (max-width: 1100px) {
                    max-width: 280px;
                }

                @media (max-width: 576px) {
                    max-width: 215px;
                }

                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                img{
                    max-width: 100%;
                }
            }
        }


        .navbar__links{
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                @media (max-width: 576px) {
                    flex-direction: column;
                    margin-top: 30px;
                }

                li{

                    transition: all .2s linear;

                    a{
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 18px;
                        text-align: center;
                        text-transform: uppercase;
                        
                        color: #41568F;

                        @media (max-width: 1285px) {
                            font-size: 12px;
                        }

                        @media (max-width: 1100px) {
                            font-size: 11px;
                        }

                        @media (max-width: 1024px) {
                            font-size: 20px;
                        }
                        
                    }

                    

                    &:hover{

                        transform: translateY(-2px);
                    }
                }
            }
        }
    }

    .contacts{
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;

        @media (max-width: 1024px) {
            justify-content: center;
        }
        
        &-list{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;

            

            li{
                width: 70px;
                height: 70px;

                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #FFF;

                border-radius: 50%;

                transition: box-shadow .2s linear;

                

                &:hover{
                    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.25);
                }

                @media (max-width: 768px) {
                    width: 50px;
                    height: 50px;
                    padding: 10px;
                }

                img{
                    max-width: 100%;
                }
                
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}



//HOME

.head-section{


    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 10px;


        .content{
            max-width: 690px;

            @media (max-width: 950px) {
                max-width: 100%;
                width: 100%;
                text-align: center;
            }

            .main-title{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 26px;
                color: #372742;
                max-width: 570px;

                @media (max-width: 950px) {
                    max-width: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                }

                @media (max-width: 576px) {
                    font-size: 19px;
                }
                
            }

            .h2{
                margin-top: 50px;

                
            }

            .h2-medium{
                margin-bottom: 40px;
            }

            .btn{
                @media (max-width: 950px) {
                    margin: 0 auto;
                }
            }

        }

        .picture{
            max-width: 40%;
            width: 540px;

            @media (max-width: 950px) {
                display: none;
            }

            img{
                width: 100%;
            }
        }
    }
}

.why-us-section{

    .h2{
        text-align: center;
    }

    .content{
        margin-top: 30px;

        .benefits-list{
            padding: 30px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            flex-wrap: wrap;

            li{
                border-radius: 40px;
                min-height: 355px;
                padding: 45px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                text-align: center;
                
                &:nth-child(1), &:nth-child(4){
                    max-width: 810px;
                    background: #2A878E;
                    
                }

                &:nth-child(2), &:nth-child(3){
                    max-width: 385px;
                    background: #41568F;
                }

                .title{

                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 38px;
                    color: #FFFFFF;

                    @media (max-width: 726px) {
                        font-size: 24px;
                    }
                }

                .subtitle{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 21px;
                    line-height: 25px;
                    color: #F5F5F5;

                    @media (max-width: 726px) {
                        font-size: 16px;
                    }
                }
            }
        }

        
    }
}
.stats-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 0px;
    margin-top: 30px;

    @media (max-width: 576px) {
        gap: 15px;
    }

    li{
        width: 385px;
        height: 340px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 45px;
        text-align: center;

        

        @media (max-width: 920px) {
            padding: 20px;
            width: 320px;
        }

        @media (max-width: 700px) {
            height: auto;
            gap: 10px;
        }

        .title{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
            text-transform: uppercase;
            
            color: #41568F;

            @media (max-width: 920px) {
                font-size: 32px;
            }
        }

        .subtitle{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            text-transform: uppercase;
            
            color: #41568F;
            @media (max-width: 920px) {
                font-size: 21px;
            }
        }
    }
}

.big-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    margin-top: 30px;

    a{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 29px;
        color: #2A878E;
        text-decoration: none;
    }


    @media (max-width: 1024px) {
        gap: 15px;
    }

    @media (max-width: 768px) {
        margin: 0 auto;
        gap: 30px;
    }

    li{
        display: flex;
        align-items: center;
        gap: 30px;
        @media (max-width: 1200px) {
            .point{
                display: none;
            }
        }

        @media (max-width: 768px) {
            justify-content: center;
        }

        .text{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 29px;
            text-transform: uppercase;
            
            color: #41568F;

            @media (max-width: 1024px) {
                font-size: 20px;
            }

            @media (max-width: 768px) {
                text-align: center;
            }

            @media (max-width: 576px) {
                font-size: 16px;
            }

            a{
                @media (max-width: 1024px) {
                    font-size: 20px;
                }

                @media (max-width: 576px) {
                    font-size: 16px;
                }
            }
        }
    }
}

.small-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    margin-top: 30px;

    @media (max-width: 576px) {
        padding: 15px;
        gap: 30px;
    }

    li{
        display: flex;
        align-items: center;
        gap: 15px;
        

        .point{
            @media (max-width: 576px) {
                display: none;
            }
        }

        .text{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 21px;
            line-height: 25px;
            color: #41568F;

            @media (max-width: 768px) {
                font-size: 18px;
            }

            @media (max-width: 576px) {
                font-size: 18px;
                text-align: center;
            }

            span{
                font-weight: 700;       
            }
            
        }
    }
}

.how-to-make-an-order-section{

    background-color: #C6DADB;

    .h2{
        text-align: center;
    }
}

.about-us-section{
    .h2, .h3-medium{
        text-align: center;
    }

    .h3-medium{
        
        max-width: 1000px;
        margin: 30px auto;
    }
}

.slider-section{

    background: #C6DADB;

    .h2{
        text-align: center;
    }

    .slider-box{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 130px;

        @media (max-width: 768px) {
            margin-top: 60px;
        }
    }

    .swiper{

        width: 980px;
        max-width: 100%;
        position: relative;
        margin: 0;

        &-slide{
            text-align: center;

            .slide-img-box{
                width: 280px;
                max-width: 100%;
                height: 500px;
                max-height: 100%;
                border-radius: 30px;
                margin: 0 auto;
                img{
                    width: 100%;
                }
            }


        }

        

        
    }

    .swiper-button-disabled{
        opacity: .5;
    }

    .slider-btn{
        
        background: transparent;
        border: 0;
        border-radius: 50%;
        cursor: pointer;

        @media (max-width: 576px) {
            display: none;
        }
    }

}


.price-section{

    .h2{
        text-align: center;
    }

    .cards-list{

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        padding: 30px;
        margin-top: 30px;
        gap: 50px;
        @media (max-width: 768px) {
            padding: 0;
        }

        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 0 30px 50px 30px;

            max-width: 100%;
            width: 300px;
            min-height: 525px;

            background: #2A878E;
            box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
            border-radius: 13px;

            transition: transform .2s linear;

            &:nth-child(2){
                background: #41568F;
                
            }

            &:hover{
                transform: translateY(-10px);
            }

            .title{
                border: 3px #FFF solid;
                border-top: 0;
                border-radius: 0px 0px 20px 20px;
                padding: 10px 15px;
                min-width: 225px;
                max-width: 100%;

                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 23px;
                text-align: center;
                
                color: #FFFFFF;
            }

            .price{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 50px;
                line-height: 59px;
                text-align: center;
                
                color: #FFFFFF;
            }

            ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                padding: 10px;
                li{
                    width: auto;
                    min-height: 0;
                    padding: 0;

                    background: transparent;
                    box-shadow: none;
                    border-radius: 0;

                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 23px;
                    text-align: center;
                    
                    color: #FFFFFF;

                    &:nth-child(2){
                        background: transparent;
                        
                    }

                    &:hover{
                        transform: translateY(0);
                    }
                }
            }

            .btn{
                margin-top: auto;
            }
        }
    }

    .btn{
        margin: 0 auto;
        margin-top: 50px;
    }
}

.form-section{
    background: #C6DADB;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;

    @media (max-width: 1440px) {
        justify-content: center;
        padding: 90px 90px;
    }

    @media (max-width: 1024px) {
        padding: 60px 60px;
    }
    @media (max-width: 768px) {
        padding: 30px 15px;
    }



    .container{
        padding: 70px 30px 68px 60px;

        @media (max-width: 1440px) {
            padding: 0;
            .h2, .h3-big{
                text-align: center;
            }

            .btn{
                margin: 0 auto;
            }
        }

        .btn{
            margin-top: 50px;
        }
    }

    
}
.form{
        
        padding: 90px 120px 90px 60px;
        background: #2A878E;
        display: flex;
        flex-wrap: wrap;
        width: 775px;
        max-width: 100%;

        @media (max-width: 1440px) {
            margin-top: 60px;
            padding: 90px 60px;
            border-radius: 25px;
            justify-content: space-between;
        }

        @media (max-width: 742px) {
            padding: 30px 15px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .input-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: 20px;
            gap: 5px;
            max-width: 100%;

            label{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF
            }

            input, select{
                width: 255px;
                max-width: 100%;
                height: 40px;
                border: 0;
                background-color: transparent;
                border-bottom: 3px solid #FFFFFF;
                padding: 5px;
                outline: none;

                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
            }

            option{
                background: #2A878E;                
            }

            
        }

        .btn{
            margin-left: auto;
            margin-top: auto;
            height: 65px;

            @media (max-width: 742px) {
                margin: 0 auto;
                margin-top: 30px;
            }
        }
    }

//Bonus page

.bonus-head{

    .container{
        align-items: flex-start;
        .picture{
            width: auto;
        }
    }

    .h2{
        margin-top: 40px;
    }

    .h3-medium{
        margin-top: 25px;
    }
}

.bonus-section{
    .h2{
        text-align: center;
    }
}


// Price page

.price-section{

    .stats-list{
        align-items: flex-start;
        li{
            border: 2px #41568F solid;
            border-radius: 10px;
            padding: 10px;
            width: 300px;
            max-width: 100%;
            height: auto;
            justify-content: start;

            transition: transform .2s linear;

            &:hover{
                transform: translateY(-3px);
            }

            .title{
                font-size: 24px;
                line-height: 36px;
            }

            .subtitle{
                font-size: 19px;
                line-height: 28px;
            }
        }
    }

    .container{
        .h3-medium{
            text-align: center;
            color: #41568F;;
        }
    }
}

//Pay page

.pay-section{
    .h2, .h3-medium{
        text-align: center;
        max-width: 1200;
        margin: 0 auto;
    }

    .pay-info{
        margin-top: 30px;
        .small-list{
            li{
                .text{
                    text-align: left;
                }
            }
        }
        .h3-medium{
            text-align: left;
            margin-top: 30px;
        }
        .red{
            color: #E03641;
        }
    }
}


//modal

.modal{
    display: none;
    position: fixed;
    z-index: 9998;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(4.5px);
    justify-content: center;
    align-items: center;
    padding: 40px;

    @media (max-width: 768px) {
        padding: 20px;
    }

    .form{
        border-radius: 15px;
        margin: 0;
        width: 1115px;
        max-width: 100%;
        max-height: 100%;
        justify-content: space-between;
        position: relative;
        @media (max-width: 1042px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .btn{
                margin: 0 auto;
                margin-top: 40px;
            }
        }

        @media (max-width: 768px) {
            padding: 15px;
            .btn{
                height: auto;
                padding: 10px 60px;
            }
        }

        .close-modal{
            position: absolute;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            top: 20px;
            right: 20px;
            cursor: pointer;

            @media (max-width: 768px) {
                width: 30px;
                height: 30px;
                top: 10px;
                right: 10px;
            }
            img{
                width: 100%;
            }
        }
        

        .input-container{
            width: 100%;
            max-width: 420px;

            @media (max-width: 768px) {
                padding: 10px;
                gap: 2px;
            }

            input, select{
                width: 100%;
            }
        }
    }
}

.active-modal{
    display: flex;
}

