@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.preloader {
  position: fixed;
  z-index: 9999;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F5F5;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #2A878E;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #F5F5F5;
}
html main, body main {
  flex: 1 1 auto;
}

li {
  list-style-type: none;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #41568F;
  margin: 30px 0;
}

.header, .section, .footer {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.section {
  background: #F5F5F5;
  padding: 90px 90px;
  position: relative;
}
@media (max-width: 1024px) {
  .section {
    padding: 60px 60px;
  }
}
@media (max-width: 768px) {
  .section {
    padding: 30px 15px;
  }
}
.section .container {
  max-width: 1300px;
  margin: 0 auto;
}
.section .container .h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 61px;
  color: #2A878E;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .section .container .h2 {
    font-size: 38px;
  }
}
@media (max-width: 576px) {
  .section .container .h2 {
    font-size: 35px;
    line-height: 47px;
  }
}
.section .container .h2-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 61px;
  color: #2A878E;
}
@media (max-width: 1200px) {
  .section .container .h2-medium {
    font-size: 38px;
  }
}
@media (max-width: 576px) {
  .section .container .h2-medium {
    font-size: 30px;
    line-height: 47px;
  }
}
.section .container .h3-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #2A878E;
}
@media (max-width: 768px) {
  .section .container .h3-medium {
    font-size: 19px;
    line-height: 30px;
  }
}
.section .container .h3-big {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 102px;
  line-height: 120px;
  color: #E2A203;
}
@media (max-width: 1024px) {
  .section .container .h3-big {
    font-size: 80px;
  }
}
@media (max-width: 568px) {
  .section .container .h3-big {
    font-size: 50px;
    line-height: 50px;
  }
}

.btn {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 0;
  border-radius: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: #FFFFFF;
  cursor: pointer;
  transition: transform 0.2s linear;
}
.btn:hover {
  transform: scale(0.98);
}
@media (max-width: 1024px) {
  .btn {
    font-size: 16px;
    padding: 10px 30px;
  }
}
@media (max-width: 576px) {
  .btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}

.btn-blue {
  background: #41568F;
}

.btn-white {
  background: transparent;
  border: 3px solid #FFFFFF;
  padding: 15px 60px;
  font-size: 21px;
  line-height: 25px;
}

a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: #FFFFFF;
  text-decoration: none;
}
@media (max-width: 1024px) {
  a {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  a {
    font-size: 14px;
  }
}

.header {
  width: 100%;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #C6DADB;
}
@media (max-width: 1285px) {
  .header .navbar {
    padding: 20px 60px;
  }
}
@media (max-width: 1024px) {
  .header .navbar {
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    padding: 20px;
  }
}
@media (max-width: 1024px) {
  .header .navbar .navbar__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header .navbar .navbar__head-logo {
  max-width: 340px;
}
@media (max-width: 1285px) {
  .header .navbar .navbar__head-logo {
    max-width: 300px;
  }
}
@media (max-width: 1100px) {
  .header .navbar .navbar__head-logo {
    max-width: 280px;
  }
}
@media (max-width: 576px) {
  .header .navbar .navbar__head-logo {
    max-width: 215px;
  }
}
.header .navbar .navbar__head-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .navbar .navbar__head-logo img {
  max-width: 100%;
}
.header .navbar .navbar__head .navbar__head-btns {
  display: none;
}
@media (max-width: 1024px) {
  .header .navbar .navbar__head .navbar__head-btns {
    display: block;
  }
  .header .navbar .navbar__head .navbar__head-btns button {
    display: none;
    border: none;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .header .navbar .navbar__head .navbar__head-btns .show {
    display: flex;
  }
}
.header .navbar .navbar__links {
  overflow: hidden;
  position: relative;
}
.header .navbar .navbar__links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1024px) {
  .header .navbar .navbar__links ul {
    flex-direction: column;
    margin-top: -100%;
    transition: margin-top 0.2s linear;
  }
}
.header .navbar .navbar__links ul li {
  transition: all 0.2s linear;
}
.header .navbar .navbar__links ul li a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #41568F;
}
@media (max-width: 1285px) {
  .header .navbar .navbar__links ul li a {
    font-size: 12px;
  }
}
@media (max-width: 1100px) {
  .header .navbar .navbar__links ul li a {
    font-size: 11px;
  }
}
@media (max-width: 1024px) {
  .header .navbar .navbar__links ul li a {
    font-size: 20px;
  }
}
.header .navbar .navbar__links ul li:hover {
  transform: translateY(-2px);
}
.header .navbar .navbar__links ul .active {
  border-bottom: 2px #1B0917 solid;
}
.header .navbar .navbar__links ul .active a {
  color: #1B0917;
}
@media (max-width: 1024px) {
  .header .navbar .links-open ul {
    margin-top: 0;
    padding: 40px 0;
  }
}

.footer {
  background: #C6DADB;
}
.footer .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1024px) {
  .footer .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.footer .navbar .navbar__head-logo {
  max-width: 340px;
}
@media (max-width: 1285px) {
  .footer .navbar .navbar__head-logo {
    max-width: 300px;
  }
}
@media (max-width: 1100px) {
  .footer .navbar .navbar__head-logo {
    max-width: 280px;
  }
}
@media (max-width: 576px) {
  .footer .navbar .navbar__head-logo {
    max-width: 215px;
  }
}
.footer .navbar .navbar__head-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .navbar .navbar__head-logo img {
  max-width: 100%;
}
.footer .navbar .navbar__links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 576px) {
  .footer .navbar .navbar__links ul {
    flex-direction: column;
    margin-top: 30px;
  }
}
.footer .navbar .navbar__links ul li {
  transition: all 0.2s linear;
}
.footer .navbar .navbar__links ul li a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #41568F;
}
@media (max-width: 1285px) {
  .footer .navbar .navbar__links ul li a {
    font-size: 12px;
  }
}
@media (max-width: 1100px) {
  .footer .navbar .navbar__links ul li a {
    font-size: 11px;
  }
}
@media (max-width: 1024px) {
  .footer .navbar .navbar__links ul li a {
    font-size: 20px;
  }
}
.footer .navbar .navbar__links ul li:hover {
  transform: translateY(-2px);
}
.footer .contacts {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
@media (max-width: 1024px) {
  .footer .contacts {
    justify-content: center;
  }
}
.footer .contacts-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.footer .contacts-list li {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  border-radius: 50%;
  transition: box-shadow 0.2s linear;
}
.footer .contacts-list li:hover {
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) {
  .footer .contacts-list li {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
}
.footer .contacts-list li img {
  max-width: 100%;
}
.footer .contacts-list li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.head-section .container .content {
  max-width: 690px;
}
@media (max-width: 950px) {
  .head-section .container .content {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
}
.head-section .container .content .main-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #372742;
  max-width: 570px;
}
@media (max-width: 950px) {
  .head-section .container .content .main-title {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .head-section .container .content .main-title {
    font-size: 19px;
  }
}
.head-section .container .content .h2 {
  margin-top: 50px;
}
.head-section .container .content .h2-medium {
  margin-bottom: 40px;
}
@media (max-width: 950px) {
  .head-section .container .content .btn {
    margin: 0 auto;
  }
}
.head-section .container .picture {
  max-width: 40%;
  width: 540px;
}
@media (max-width: 950px) {
  .head-section .container .picture {
    display: none;
  }
}
.head-section .container .picture img {
  width: 100%;
}

.why-us-section .h2 {
  text-align: center;
}
.why-us-section .content {
  margin-top: 30px;
}
.why-us-section .content .benefits-list {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.why-us-section .content .benefits-list li {
  border-radius: 40px;
  min-height: 355px;
  padding: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.why-us-section .content .benefits-list li:nth-child(1), .why-us-section .content .benefits-list li:nth-child(4) {
  max-width: 810px;
  background: #2A878E;
}
.why-us-section .content .benefits-list li:nth-child(2), .why-us-section .content .benefits-list li:nth-child(3) {
  max-width: 385px;
  background: #41568F;
}
.why-us-section .content .benefits-list li .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}
@media (max-width: 726px) {
  .why-us-section .content .benefits-list li .title {
    font-size: 24px;
  }
}
.why-us-section .content .benefits-list li .subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #F5F5F5;
}
@media (max-width: 726px) {
  .why-us-section .content .benefits-list li .subtitle {
    font-size: 16px;
  }
}

.stats-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 0px;
  margin-top: 30px;
}
@media (max-width: 576px) {
  .stats-list {
    gap: 15px;
  }
}
.stats-list li {
  width: 385px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 45px;
  text-align: center;
}
@media (max-width: 920px) {
  .stats-list li {
    padding: 20px;
    width: 320px;
  }
}
@media (max-width: 700px) {
  .stats-list li {
    height: auto;
    gap: 10px;
  }
}
.stats-list li .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #41568F;
}
@media (max-width: 920px) {
  .stats-list li .title {
    font-size: 32px;
  }
}
.stats-list li .subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #41568F;
}
@media (max-width: 920px) {
  .stats-list li .subtitle {
    font-size: 21px;
  }
}

.big-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  margin-top: 30px;
}
.big-list a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: #2A878E;
  text-decoration: none;
}
@media (max-width: 1024px) {
  .big-list {
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .big-list {
    margin: 0 auto;
    gap: 30px;
  }
}
.big-list li {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1200px) {
  .big-list li .point {
    display: none;
  }
}
@media (max-width: 768px) {
  .big-list li {
    justify-content: center;
  }
}
.big-list li .text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  text-transform: uppercase;
  color: #41568F;
}
@media (max-width: 1024px) {
  .big-list li .text {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .big-list li .text {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .big-list li .text {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .big-list li .text a {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .big-list li .text a {
    font-size: 16px;
  }
}

.small-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  margin-top: 30px;
}
@media (max-width: 576px) {
  .small-list {
    padding: 15px;
    gap: 30px;
  }
}
.small-list li {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 576px) {
  .small-list li .point {
    display: none;
  }
}
.small-list li .text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #41568F;
}
@media (max-width: 768px) {
  .small-list li .text {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .small-list li .text {
    font-size: 18px;
    text-align: center;
  }
}
.small-list li .text span {
  font-weight: 700;
}

.how-to-make-an-order-section {
  background-color: #C6DADB;
}
.how-to-make-an-order-section .h2 {
  text-align: center;
}

.about-us-section .h2, .about-us-section .h3-medium {
  text-align: center;
}
.about-us-section .h3-medium {
  max-width: 1000px;
  margin: 30px auto;
}

.slider-section {
  background: #C6DADB;
}
.slider-section .h2 {
  text-align: center;
}
.slider-section .slider-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}
@media (max-width: 768px) {
  .slider-section .slider-box {
    margin-top: 60px;
  }
}
.slider-section .swiper {
  width: 980px;
  max-width: 100%;
  position: relative;
  margin: 0;
}
.slider-section .swiper-slide {
  text-align: center;
}
.slider-section .swiper-slide .slide-img-box {
  width: 280px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
  border-radius: 30px;
  margin: 0 auto;
}
.slider-section .swiper-slide .slide-img-box img {
  width: 100%;
}
.slider-section .swiper-button-disabled {
  opacity: 0.5;
}
.slider-section .slider-btn {
  background: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 576px) {
  .slider-section .slider-btn {
    display: none;
  }
}

.price-section .h2 {
  text-align: center;
}
.price-section .cards-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;
  margin-top: 30px;
  gap: 50px;
}
@media (max-width: 768px) {
  .price-section .cards-list {
    padding: 0;
  }
}
.price-section .cards-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 30px 50px 30px;
  max-width: 100%;
  width: 300px;
  min-height: 525px;
  background: #2A878E;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  transition: transform 0.2s linear;
}
.price-section .cards-list li:nth-child(2) {
  background: #41568F;
}
.price-section .cards-list li:hover {
  transform: translateY(-10px);
}
.price-section .cards-list li .title {
  border: 3px #FFF solid;
  border-top: 0;
  border-radius: 0px 0px 20px 20px;
  padding: 10px 15px;
  min-width: 225px;
  max-width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}
.price-section .cards-list li .price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF;
}
.price-section .cards-list li ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 10px;
}
.price-section .cards-list li ul li {
  width: auto;
  min-height: 0;
  padding: 0;
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}
.price-section .cards-list li ul li:nth-child(2) {
  background: transparent;
}
.price-section .cards-list li ul li:hover {
  transform: translateY(0);
}
.price-section .cards-list li .btn {
  margin-top: auto;
}
.price-section .btn {
  margin: 0 auto;
  margin-top: 50px;
}

.form-section {
  background: #C6DADB;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
}
@media (max-width: 1440px) {
  .form-section {
    justify-content: center;
    padding: 90px 90px;
  }
}
@media (max-width: 1024px) {
  .form-section {
    padding: 60px 60px;
  }
}
@media (max-width: 768px) {
  .form-section {
    padding: 30px 15px;
  }
}
.form-section .container {
  padding: 70px 30px 68px 60px;
}
@media (max-width: 1440px) {
  .form-section .container {
    padding: 0;
  }
  .form-section .container .h2, .form-section .container .h3-big {
    text-align: center;
  }
  .form-section .container .btn {
    margin: 0 auto;
  }
}
.form-section .container .btn {
  margin-top: 50px;
}
.form-section .form {
  padding: 90px 120px 90px 60px;
  background: #2A878E;
  display: flex;
  flex-wrap: wrap;
  width: 775px;
  max-width: 100%;
}
@media (max-width: 1440px) {
  .form-section .form {
    margin-top: 60px;
    padding: 90px 60px;
    border-radius: 25px;
    justify-content: space-between;
  }
}
@media (max-width: 742px) {
  .form-section .form {
    padding: 30px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.form-section .form .input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  gap: 5px;
  max-width: 100%;
}
.form-section .form .input-container label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.form-section .form .input-container input, .form-section .form .input-container select {
  width: 255px;
  max-width: 100%;
  height: 40px;
  border: 0;
  background-color: transparent;
  border-bottom: 3px solid #FFFFFF;
  padding: 5px;
  outline: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.form-section .form .input-container option {
  background: #2A878E;
}
.form-section .form .btn {
  margin-left: auto;
  margin-top: auto;
  height: 65px;
}
@media (max-width: 742px) {
  .form-section .form .btn {
    margin: 0 auto;
    margin-top: 30px;
  }
}

.bonus-head .container {
  align-items: flex-start;
}
.bonus-head .container .picture {
  width: auto;
}
.bonus-head .h2 {
  margin-top: 40px;
}
.bonus-head .h3-medium {
  margin-top: 25px;
}

.bonus-section .h2 {
  text-align: center;
}

.price-section .stats-list {
  align-items: flex-start;
}
.price-section .stats-list li {
  border: 2px #41568F solid;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  max-width: 100%;
  height: auto;
  justify-content: start;
  transition: transform 0.2s linear;
}
.price-section .stats-list li:hover {
  transform: translateY(-3px);
}
.price-section .stats-list li .title {
  font-size: 24px;
  line-height: 36px;
}
.price-section .stats-list li .subtitle {
  font-size: 19px;
  line-height: 28px;
}
.price-section .container .h3-medium {
  text-align: center;
  color: #41568F;
}

.pay-section .h2, .pay-section .h3-medium {
  text-align: center;
  max-width: 1200;
  margin: 0 auto;
}
.pay-section .pay-info {
  margin-top: 30px;
}
.pay-section .pay-info .small-list li .text {
  text-align: left;
}
.pay-section .pay-info .h3-medium {
  text-align: left;
  margin-top: 30px;
}
.pay-section .pay-info .red {
  color: #E03641;
}/*# sourceMappingURL=style.css.map */